<%- include('../partials/head')%>

    <body>
        <%- include('../partials/header')%>
            <h1>Editar Producto</h1>

            <form action=""></form>

            <%- include('../partials/footer')  %>
    </body>

    </html>