<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Hábito</title>
            <link rel="stylesheet" href="/css/index.css">
        </head>


        <body>
            <header>
                <!-- Acá arranca están el logo, el menú de navegación y los íconos-->
                <div class="header-container">
                    <div class="top-container">
                        <div class="left">
                            <div class="main-container">
                                <a href ='#' class="burger-menu">
                                    <i class="fas fa-bars"></i>
                                </a>
                            </div>
                            <div class="logo-nav">
                                <img src="img/Logo-prueba.png" alt="logo Hábito" class="logo">
                                <nav class="main-navbar">
                                    <ul class="navbar">
                                        <li class="main-menu">Categorías</li>
                                        <li class="main-menu">Ofertas</li>
                                        <li class="main-menu">Contacto</li>
                                    </ul>
                                </nav> 
                            </div>
                        </div>
                        <div class="header-icons">
                            <div class="search">
                                <i class="fas fa-search"></i>
                            </div>  
                            <div class="user">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="cart">
                                <i class="fas fa-shopping-cart"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Acá arranca el Carrusel-->

                <div class="bottom-container">
                    <nav class="slider">
                        <img src="img/CARROUSEL/img-carrousel-3.jpg" alt="Conjunto de Ropa" class="img3">
                    </nav>
                </div>               
            </header>
        <main>
            <nav class="products">
                <h2 class="categories">Hoddies</h2>
                <article>
                    <img src="img/productosHome/img-producto-home-hoodies.jpg" alt="" width=100%>
                    <div class="product-description">
                        <p class="product-name">Hoddie</p>
                        <p class="prices">$5700</p>
                        <i class="free-shipping"><i class="fas fa-truck"></i></i>
                    </div>
                </article>
                <h2 class="categories">Joggers</h2>
                <article> 
                    <img src="img/productosHome/img-producto-home-joggers.jpg" alt="" width="100%">
                    <div class="product-description">
                        <p class="product-name">Jogger</p>
                        <p class="prices">$2300</p>
                        <i class="free-shipping"><i class="fas fa-truck"></i></i>
                    </div>
                </article>  
                <h2 class="categories">Remeras</h2>
                <article>
                    <img src="img/productosHome/img-producto-home-remeras.jpg" alt="" width="100%">
                    <div class="product-description">
                        <p class="product-name">Remera </p>
                        <p class="prices">$1200</p>
                        <i class="free-shipping"><i class="fas fa-truck"></i></i>
                    </div>
                </article>
                <h2 class="categories">Shorts</h2>
                <article>
                    <img src="img/productosHome/img-producto-home-short.jpg" alt="" width="100%">
                    <div class="product-description">
                        <p class="product-name">Short</p>
                        <p class="prices">$2500</p>
                        <i class="free-shipping"><i class="fas fa-truck"></i></i>
                    </div>
                </article>
                <h2 class="categories">Camperas</h2>
                <article>
                    <img src="img/productosHome/img-productos-home-campera.jpg" alt="" width="100%">
                    <div class="product-description">
                        <p class="product-name">Campera</p>
                        <p class="prices">$15.000</p>
                        <i class="free-shipping"><i class="fas fa-truck"></i></i>
                    </div>
                </article>
            </nav>
            <nav class="newsletter">
                <p class="newsletter-text">Suscribite a nuestro newsletter</p>
                <div class="formulario-suscribe">
                    <p class="suscribe">Suscribirse</p>
                    <form action="" class="search"><input type="search" name="Search" id="search" placeholder="ingresar correo electronico">
                </div>  
            </nav>
        </main>

        <footer>
            <div class="footer-container">
                <div class="top-footer">
                    <img src="img/Logo-prueba.png" alt="logo Hábito" class="logo-footer">
                    <div class="footer-icons">
                        <div class="twitter">
                            <i class="fab fa-twitter"></i>
                        </div>
                        <div class="facebook">
                            <i class="fab fa-facebook"></i>
                        </div>
                        <div class="instagram">
                            <i class="fab fa-instagram"></i>
                        </div>
                        <div class="youtube">
                            <i class="fab fa-youtube"></i>
                        </div>
                    </div>
                </div>

                <div class="middle-bottom">
                    <div class="footer-middle">
                        <div class="empresa">
                            <h3>Empresa</h3>
                            <ul class="lista-empresa">
                                <div class="izq">
                                    <il>Quiénes Somos</il>
                                    <il>Locales</il>
                                </div>
                                <div class="der">
                                    <il>Trabaja con Nosotros</il>
                                    <il>Noticias</il>
                                </div>
                            </ul>
                        </div> 
                    </div>
                    <div class="footer-bottom">
                        <div class="compras">
                            <h3>Compras</h3>
                            <ul class="lista-compras">
                                <div class="izq">
                                    <il>Métodos de Pago</il>
                                    <il>Devoluciones</il>
                                </div>
                                <div class="der">
                                    <il>Preguntas Frecuentes</il>
                                    <il>Envíos y Condiciones</il>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <p class="copyright">© 2021 Hábito</p>
            </div>
        </footer>
    </body>
</html>