<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product Cart</title>
    <link rel="stylesheet" href="/css/productCart.css">
</head>
<body>
    <header>
        <div class="logo-buttontop">
            <a href="/"><img src="img/Logo-prueba.png" alt=""></a>
            <form action="/" method="get" class="top-button">
                <button type="submit" class="top-button">Volver</button>
            </form>
        </div>
        <div class="data-contact">
            <p class="data-contact1">Datos de contacto</p>
            <p >¿Ya tienes cuenta? <a href="/login"> Iniciar sesion</a> </p>
        </div>
    </header>
    <main>
        <div class="email-ofertas">
            <form action="" method="get"></form>
            <input type="text" name="novedades"  placeholder="e-mail" class="inputs">
            <div class="recibir-ofertas">
                <input type="checkbox" name="recibirOfertas" value="recibirOfertas" id="recibirOfertas">
                <label for="recibirOfertas" >Quiero recibir ofertas y novedades en mi correo.</label>     
            </div>      
            </form>
        </div>
        <h2>Datos de envío</h2>
        <nav>
            <form action="" method="get">
                <div>
                    <input type="text" name="nombre" placeholder="Nombre" class="inputs">
                </div>
                <div>
                    <input type="text" name="apellido" placeholder="Apellido" class="inputs">
                </div>
                <div>
                    <input type="text" name="direccion" placeholder="Direccion" class="inputs">
                </div>
                <div>
                    <input type="text" name="provincia" placeholder="Provincia" class="inputs">
                </div>
                <div>
                    <input type="text" name="localidad" placeholder="localidad" class="inputs">
                    <input type="number" name="codigoPostar" placeholder="Codigo Postal" class="inputs">
                </div>
                <div>
                    <input type="number" name="telefono" placeholder="Telefono" class="inputs">
                </div>
                <div class="save-info">
                    <input type="checkbox"  name="guardarDatosDeEnvio" id="guardarDatos" value="GuardarMisDatosDeEnvio">
                    <label for="guardarDatos" >Guardar informacion para proximas compras</label>
                </div>     
            </form>      
        </nav>
        <nav>
            <nav>
                <h2 class="productos">Productos</h2>
                <div class="product-price">
                    <p class="product">1x producto</p>
                    <p class="price">$1700</p>
                </div>
                <div>
                    <p class="talle">M</p>
                </div>
                <div class="color-quitar">
                    <p class="color"><i class="fas fa-dot-circle"></i></p>
                    <form action="" method="get">
                        <button type="submit" class="button-quitar">quitar</button>
                    </form>
                </div>
            </nav>
            <nav>
                <div class="product-price">
                    <p class="product">1x producto</p>
                    <p class="price">$2500</p>
                </div>
                <div>
                    <p class="talle">L </p>
                </div>
                <div class="color-quitar">
                    <p class="color"><i class="fas fa-dot-circle"></i></p>
                    <form action="" method="get">
                        <button type="submit" class="button-quitar">quitar</button>
                    </form>
                </div>
            </nav>
        </nav>
        <div class="discount">
            <form action="" method="get">
                <input type="text" name="codigoDescuento" placeholder="Codigo de descuento" id="codigoDescuento">
                <button type="submit" class="button-discount">Aplicar</button>
            </form>
        </div>
        <nav>
            <div class="subtotal-price">
                <p>Subtotal</p>
                <p class="price">$4200</p>
            </div>
            <div class="envio-price">
                <p>Envio</p>
                <p class="price">$500</p>
            </div>
            <div class="total-price">
                <p>TOTAL</p>
                <p class="price">$4700</p>
            </div>
            <div class="buy">
                <form action="" method="get" class="buy">
                    <button type="submit" class="button-buy">COMPRAR</button>
                </form>
            </div>
        </nav>
    </main>















</body>
</html>