<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
    <link rel="stylesheet" href="/css/productDetail.css">
</head>
<body>
    <header>
        <!-- Acá arranca están el logo, el menú de navegación y los íconos-->
        <div class="header-container">
            <div class="top-container">
                <div class="left">
                    <div class="main-container">
                        <a href ='#' class="burger-menu">
                            <i class="fas fa-bars"></i>
                        </a>
                    </div>
                    <div class="logo-nav">
                        <img src="img/Logo-Habito.png" alt="logo Hábito" class="logo">
                        <nav class="main-navbar">
                            <ul class="navbar">
                                <li class="main-menu">Categorías</li>
                                <li class="main-menu">Ofertas</li>
                                <li class="main-menu">Contacto</li>
                            </ul>
                        </nav> 
                    </div>
                </div>
                <div class="header-icons">
                    <div class="search-logo">
                        <i class="fas fa-search"></i>
                    </div>  
                    <div class="user-logo">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="cart-logo">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- Acá arranca el Carrusel-->
    </header>

    <main>

        <section class="product-detail">
            <div class="product-detail-top">
                <ul class="pictures-list">
                    <li><img src="img/detalle_producto/img-remera-1.jpg" alt="" width="140px"></li>
                    <li><img src="img/detalle_producto/img-remera-2.jpg" alt="" width="140px"></li>
                    <li><img src="img/detalle_producto/img-remera-3.jpg" alt="" width="140px"></li>
                    <li><img src="img/detalle_producto/img-remera-4.jpg" alt="" width="140px"></li>
                </ul>
                <img src="img/detalle_producto/img-remera-1.jpg" alt="" width="50%">
                <div class="product-description">
                    <h3 class="product-name">Conjunto Remera y jogging</h3>
                    <div class="off-price">
                        <p class="prices">$15.000</p>
                        <p class="off">25% Off</p>
                    </div>
                    <p class="prod-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil officiis aperiam pariatur in, quo quaerat doloribus quasi eaque sequi explicabo</p>
                    <div class="characteristics">
                        <div class="size">
                            <h6>Talle</h6>
                                <p class="talle">XS</p>
                                <p class="talle">S</p>
                                <p class="talle">M</p>
                                <p class="talle">L</p>
                                <p class="talle">XL</p>
                        </div>
                        <div class="color">
                            <h6>Color</h6>
                        </div>
                    </div>
                    <div class="purchase">
                        <h4>Comprar</h4>
                    </div>
                </div>
            </div>
        </section>
        
        <div class="cond-devs">
            <h6>Condiciones de compra y devoluciones</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iste libero optio! Quisquam doloremque corrupti, nam provident incidunt, unde qui itaque, quam culpa repellendus reprehenderit debitis non vel? Exercitationem, praesentium!</p>
        </div>
        
        <section class="sugerencias">
            <h2>Sugerencias</h2>
            
            <div class="sugerencias-separador-titulo">
                <div class="next-prev">
                    <div class="prev">
                        <i class="fas fa-chevron-circle-left"></i>
                    </div>
                    <div class="next">
                        <i class="fas fa-chevron-circle-right"></i>
                    </div>
                </div>
                <article class="prod">
                    <img src="img/detalle_producto/img-producto-sugerencia1.jpg" alt="" width="160px">
                    <div class="sugerencia-description">
                        <h3>Buzo Solvang</h3>
                        <div class="sugerencia-price">
                            <p class="price-text">$12.500</p>
                            <p>10% Off</p>
                        </div>
                    </div>
                </article>
                <article class="prod">
                    <img src="img/detalle_producto/img-producto-sugerencia2.jpg" alt="" width="142px">
                    <div class="sugerencia-description">
                        <h3>Conjunto Jongan</h3>
                        <div class="sugerencia-price">
                            <p class="price-text">$17.000</p>
                            <p>15% Off</p>
                        </div>
                    </div>
                </article>
                <article class="prod">
                    <img src="img/detalle_producto/img-producto-sugerencia3.jpg" alt="" width="142px">
                    <div class="sugerencia-description">
                        <h3>Remera Shaza</h3>
                        <div class="sugerencia-price">
                            <p class="price-text">$17.000</p>
                            <p>15% Off</p>
                        </div>
                    </div>
                </article>
            </div>
        </section>



        <nav class="newsletter">
            <p class="newsletter-text">Suscribite a nuestro newsletter</p>
            <div class="formulario-suscribe">
                <form action="" class="email">
                    <input type="email" name="email" placeholder="hola@email.com" class="email-bar">
                <p class="suscribe">Suscribirse</p>
            </div>  
        </nav>

    </main>

    <footer>
        <div class="footer-container">
            <div class="top-footer">
                <img src="img/Logo-prueba.png" alt="logo Hábito" class="logo-footer">
                <div class="footer-icons">
                    <div class="twitter">
                        <i class="fab fa-twitter"></i>
                    </div>
                    <div class="facebook">
                        <i class="fab fa-facebook"></i>
                    </div>
                    <div class="instagram">
                        <i class="fab fa-instagram"></i>
                    </div>
                    <div class="youtube">
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
            </div>

            <div class="middle-bottom">
                <div class="footer-middle">
                    <div class="empresa">
                        <h3>Empresa</h3>
                        <ul class="lista-empresa">
                            <div class="izq">
                                <il>Quiénes Somos</il>
                                <il>Locales</il>
                            </div>
                            <div class="der">
                                <il>Trabaja con Nosotros</il>
                                <il>Noticias</il>
                            </div>
                        </ul>
                    </div> 
                </div>
                <div class="footer-bottom">
                    <div class="compras">
                        <h3>Compras</h3>
                        <ul class="lista-compras">
                            <div class="izq">
                                <il>Métodos de Pago</il>
                                <il>Devoluciones</il>
                            </div>
                            <div class="der">
                                <il>Preguntas Frecuentes</il>
                                <il>Envíos y Condiciones</il>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <p class="copyright">© 2021 Hábito</p>
        </div>
    </footer>
</body>
</html>