<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product Cart</title>
    <link rel="stylesheet" href="/css/productCart.css">
</head>
<body>
    <header>
        <div>
            <h2>HÁBITO</h2>
            <form action="/">
                <button type="submit">Volver</button>
            </form>
        </div>
        <div>
            <p>Datos de contacto</p>
            <p>¿Ya tienes cuenta? <a href="/login"> Inicia sesion</a> </p>
        </div>
    </header>
    <main>
        <div>
            <form action="" method="get"></form>
            <label for="email">e-mail</label>
            <input type="text" name="novedades" id="email" placeholder="Quiero recibir novedades a mi e-mail">           
            </form>
        </div>
        <h2>Datos de envío</h2>
        <nav>
            <form action="" method="get">
                <div>
                    <input type="text" name="nombre" placeholder="Nombre:" >
                </div>
                <div>
                    <input type="text" name="apellido" placeholder="Apellido:">
                </div>
                <div>
                    <input type="text" name="direccion" placeholder="Direccion:">
                </div>
                <div>
                    <input type="text" name="provincia" placeholder="Provincia:">
                </div>
                <div>
                    <input type="text" name="localidad" placeholder="localidad:">
                    <input type="text" name="codigoPostar" placeholder="Codigo Postal:">
                </div>
                <div>
                    <input type="number" name="telefono" placeholder="Telefono:">
                </div>
                <div>
                    <input type="checkbox"  name="guardarDatosDeEnvio" id="guardarDatos" value="GuardarMisDatosDeEnvio">
                    <label for="guardarDatos">Guardar informacion para proximas compras</label>
                </div>     
            </form>      
        </nav>
        <nav>
            <nav>
                <div>
                    <p>1x producto</p>
                    <p>$1700</p>
                </div>
                <div>
                    <p>M (talle)</p>
                </div>
                <div>
                    <p>(Azul)</p>
                    <form action="" method="get"></form>
                    <button type="??">quitar</button>
                </div>
            </nav>
            <nav>
                <div>
                    <p>1x producto</p>
                    <p>$2500</p>
                </div>
                <div>
                    <p>L (talle)</p>
                </div>
                <div>
                    <p>(Amarillo)</p>
                    <form action="" method="get"></form>
                    <button type="??">quitar</button>
                </div>
            </nav>
        </nav>
        <div>
            <form action="" method="get">
                <input type="text" name="codigoDescuento" placeholder="Codigo de descuento" id="codigoDescuento">
                <button type="submit">Aplicar</button>
            </form>
        </div>
        <nav>
            <div>
                <p>Subtotal</p>
                <p>$4200</p>
            </div>
            <div>
                <p>Envio</p>
                <p>$500</p>
            </div>
            <div>
                <p>TOTAL</p>
                <p>$4700</p>
            </div>
            <div>
                <form action="" method="get">
                    <button type="submit">COMPRAR</button>
                </form>
            </div>
        </nav>
    </main>















</body>
</html>