<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate a Hábito</title>
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <header>


    </header>

    <main class="estructura">
        <div>
            <img src="img/img-crearcuenta.jpg" alt="imagen de crear cuenta" class="img" width="200"></div>
        <div>
            <h2>Crear Cuenta</h2>
            <a href="/index ">Volver</a>
            <br>
            <h3>Usando</h3>
            <div><button type="submit ">Gmail</button> <button type="submit ">Facebook</button> <button type="submit ">Instagram</button></div>
            <p>¿Ya tenés cuenta?
                <a href="/login ">Iniciar sesión</a>
            </p>
            <h3>O con tu correo electrónico:</h3>
            <form action=" " method="get ">
                <div>
                    <input type="text " name="Usuario " placeholder="Usuario: ">
                </div>
                <div>
                    <input type="email " name="email " placeholder="E-mail: ">
                </div>
                <div>
                    <input type="password " name="contraseña " placeholder="Contraseña: ">
                </div>
                <div>
                    <input type="password " name="contraseña " placeholder="Repetir contraseña: ">
                </div>

                <div>
                    <input type="checkbox " name="recibir-ofertas" id="recibir-ofertas ">
                    <label for="recibir-ofertas ">Quiero recibir ofertas y novedades en mi correo </label>
                </div>
                <div>
                    <button type=" submit ">Crear Cuenta</button>
                </div>



            </form>

        </div>




    </main>

</body>

</html>