@import url("/css/normalize.css");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@100;300;400;500&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

.colorSelectedd{
    border-top: 5px solid #858585;
    border-bottom: 5px solid #6B6B6B;
}
.blackException{
    border-top: 5px solid #CCCCCC;
    border-bottom: 5px solid #BBBBBB;
}
.purpleException{
    border-top: 5px solid #525252;
    border-bottom: 5px solid #5C5C5C;
}

body{
    font-family:roboto,sans-serif;
}

.profile-picture{
    background-color: #3D3D3D;
}

.profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    overflow: hidden;
    display:flex;
}


.profile-pic img{
    width: 100%;
}


/* 
.ul-header2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
} */

.name-img{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


  
.container-header{

    width : 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
   
    position: fixed;
    top:0;
    z-index: 3;
    background-color : rgb(61, 61, 61);
    height: 40%;
    margin:  auto;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.253);
     
}

.main-navbar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: auto;
    color: rgb(230, 230, 230);
    width:100%;
   

}
.main-navbar li{
    display: inline;
    padding:.9rem;
    margin: auto;
    list-style: none;
    color: rgb(230, 230, 230);
    font-weight: 300;
    font-size: 1.1rem;
    transition: all 0.4s;
}
.main-navbar li:hover{
    font-weight: 500;
   
}

.logo-main-navbar{

    width: 100%;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    text-align: center;

}
 .logo-main-navbar img{

    width: 60%;
} 

.search-bar{
    display: flex;
    flex-wrap: nowrap;
    width: 40%;
    height:40px;
    justify-content:center;
    border: none;
    

   
}
.ul-header2{
   display:flex;
   width:50%;
    height:70px;
    justify-content: center;
    gap:20px;
    align-items: center;
  
    
    
}
.ul-header2 li{
    width: 100px;
  
}

.backButton{
  
    display: flex;
   flex-wrap: wrap;
   justify-content: right;
    width: 100%;
    height: 33px;
    font-family:Roboto;
    font-style:normal;
    font-weight:400;
    font-size: 1.375rem ;
    line-height: 33px;
    color: #727272;
    margin-bottom: 30px;
    text-decoration: underline;
 
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }


.input-data-wrong-off{
    
    display:none;


}




.image-text-danger{
    /* display:flex;
    width:100%; */
    color:rgb(245, 60, 60);
    text-align: center;
   
    font-size:.8rem;
    
}

.formContainer{
    display:flex;
    justify-content: flex-start;
    align-content: flex-start;
    width: 100%;
}

.rightContainer{
    justify-content: flex-start
}


.input-product-name {

    display: flex;
    flex-wrap: wrap;
    
    width: 100%;
    height: 50px;
    font-family: Roboto;
    font-style:medium;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 43px;
    /* display: flex;
    align-items:flex-start; */
     border: none;
     border-bottom: 2px solid #aaaaaa;
     color: #3d3d3d;
     
     
    }

    .contenedor-precio{
        display: flex;
        flex-wrap: wrap;
        /* align-items: center; */
        width: 100%;
        /* height: 20px;  */
       
        color: #3D3D3D;
        /* background-color: #71AAFF; */
        cursor: pointer;
        position:relative;
 

    }

.input-product-price{

        width: 100%; 
        height: 40px;
        font-family: Roboto;
        font-style:normal;
        font-weight: 400;
        font-size: 1.3em;
        /* line-height: 43px; */
        /* display: flex;
        align-items:flex-start; */
        border: none;
      background-color: #ee242400;  
      border-bottom: 1px solid #3D3D3D;
        color: #3d3d3d;
        padding-left: 10%;
        /* position: relative;
        top: 20px; */
        
        }  
.input-product-price:focus{

      
        outline: 2px solid rgb(21, 148, 221);
      background-color: #ee242400;  
      border-bottom:none;
        color: #3d3d3d;
    
        }  
.input-product-price:hover{

 cursor: pointer;
    
}  
    
.text-danger{
            /* display:flex;
            width:100%;  */
            /* position:relative;
            top: -33px;
            left:10px; */
           
            color:rgb(245, 60, 60);
            text-align: left;
         /* margin:3% 0; */
           width:100%;
            font-size:.9rem;
            margin-bottom:5%;
          
        }  

    
 .text-category-danger{
            display:flex;
            width:100%; 
            /* position:relative;
            top: -33px;
            left:10px; */
           font-weight: 400;
            color:rgb(245, 60, 60);
            text-align: left;
         /* margin:3% 0; */
           width:100%;
            font-size:.9rem;
            margin-top:35px;
            margin-bottom:50px;
        }  
        
.input-data-wrong{
    
            /* display:flex;
            flex-wrap: wrap; */
            width:100%;
            height:37px;
           outline: 2px solid rgb(245, 60, 60); 
            border-radius: 2%;
            /* padding: 20px; */
            position: relative;
            bottom:10px;
            /* background-color:green; */
            margin-top: 4%;
            /* margin-bottom: 15%; */
        
           
            
        }
.signo-precio{

            display: flex;
            flex-wrap: nowrap;
            width: 10%;
            font-family: Roboto;
            font-style:normal;
            font-weight: 300;
            font-size: 1.3em;
            color: #3d3d3d;
            position: absolute;
            bottom:40%; 
            z-index: 2; 
            /* background-color:orangered; */
           }
.signo-precio-wrong{

            display: flex;
            flex-wrap: nowrap;
            width: 10%;
            font-family: Roboto;
            font-style:normal;
            font-weight: 300;
            font-size: 1.3em;
            color: #3d3d3d;
            position: absolute;
            bottom:60%; 
            z-index: 2; 
            /* background-color:orangered; */
           }



.input-description{
    display: flex;
    width: 100%;
    height: 150px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    /* line-height: 19px; */
    color:#3D3D3D;
    border: none;
    outline: none;
    margin-top: 10px;
    margin-bottom:5%;
    background-color: rgb(247, 247, 247);
    /* border-bottom: 2px solid #aaaaaa; */
    
}
textarea{
    resize:none;
     
     min-height: 100px;
}
.input-description:focus{
    outline: 2px solid rgb(21, 148, 221);
    background-color: #ee242400;  
    border-bottom:none;
      color: #3d3d3d;
      border-radius: 2%;

}

.input-description:hover{
    cursor: pointer;

}





.input-product-category{

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 1.3em;
    line-height: 34px;
    color: #3d3d3d;
    margin-top: 20px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid #aaaaaa;
    position: relative;

}

.input-product-category span{

position: absolute;
z-index:2;


}

.categoryContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 35px;
    width: 100%;
  
}
.categoryContainer select{
  
    border: none;
    outline: none;
    
    font-family: Roboto;
    font-style: normal;
    font-weight:400;
    font-size: 1em;
    text-align: center;
    color: #3d3d3d;
    width: 100%;
    background-color: #ffffff00;
    cursor: pointer;
   
}
.categoryContainer option{
  
    border: none;
    outline: none;
    
    font-family: Roboto;
    font-style: normal;
    font-weight:400;
    font-size: 14px;
    text-align: center;
    /* margin-left: 15px; */
    color: #3d3d3d;
    width: 80%;
    
    cursor: pointer;
    
}





/*--------------------- BOTONES--------------------------- */

.btn-container{
    display:flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
    width:100%;
    justify-content: space-between;
    margin:auto;
    
    
}

.btn-edit{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 60px;
    background: #3D3D3D;
    box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.2);
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.1em;
    line-height: 19px;
    padding:10px;
    
    color: #FFFFFF;
}
.btn-edit:hover{
    cursor:pointer;
    box-shadow: 0px 4px 12px 3px #c7c7c76e;
}

.btn-delete{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 60px;
  
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.1em;
    line-height: 19px;
    color: #f53a3a;
    padding:10px;
    background:none;
  
    position:relative;
    order:1;
  
}
.btn-delete:hover{
    cursor:pointer;
    background:none;
    text-decoration: underline;

}

.btn-add{

    width: 100%;
    height: 120px;
    background: #3D3D3D;
    box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.2);
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 19px;
    color: #FFFFFF;
    margin-top: 20px;
}
.btn-add:hover{
    cursor:pointer;
    box-shadow: 0px 4px 12px 3px #c7c7c76e;
}


/* -----------NUEVO HEADER QUERIES-------- */

@media (min-width: 320px){

    /* body{
        margin:auto;
    } */



    .container-header{

        width : 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        
        position: fixed;
        top: 0px;
        z-index: 3;
        background-color : rgb(61, 61, 61);
        height: 180px;
        margin:  auto;
        box-shadow: 0px 9px 7px rgba(0, 0, 0, 0.253);
        
        
        
        
    }

    .main-navbar{

        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
       
       
        /* text-align: center; */
        
    }
    .logo-main-navbar img{

        width: 40%;
    } 
    .main-navbar ul{
        
        text-align: center;
     
    }

    .main-navbar li{

        /* display: inline; */
        padding:.25rem;
      
        list-style: none;
        color: rgb(230, 230, 230);
        font-weight: 300;
        font-size: 0.75rem;
        
    }

    .main-search-bar{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        justify-content:center;
        /* background-color: #3D3D3D;
        color:red; */
    }
    .search-bar{
        display: flex;
        flex-wrap: nowrap;
        width: 70%;
        justify-content:center;
        border: none;
        
         /* background-color: #e2e2e2; */
       
    }
    .search-bar input{
        width: 60%;
        border: none;
        /* border-radius: 50%; */
        border-radius:  5px 0 0  5px;
      
    }
    .search-bar button{
        width:40%;
        border: none;
        background-color: #e2e2e2;
        /* border-radius: 50%; */
        border-radius: 0 5px 5px  0;
      
        cursor: pointer;
    }


    .main-navbar li{
        display: grid;
     
        margin: auto;
        list-style: none;
        color: rgb(230, 230, 230);
        font-weight: 300;
        font-size: 1rem;
        transition: all 0.4s;
    }

    .btn-container{
        display:flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        width:100%;
        justify-content: space-between;
        margin:auto;
        
        
    }
  
    .btn-edit{
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 60px;
        background: #3D3D3D;
        box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.2);
        border: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 1.1em;
        line-height: 19px;
        padding:10px;
        
        color: #FFFFFF;
    }
    .btn-edit:hover{
        cursor:pointer;
        box-shadow: 0px 4px 12px 3px #c7c7c76e;
    }

    .btn-delete{
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 60px;
      
        border: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 1.1em;
        line-height: 19px;
        color: #f53a3a;
        padding:10px;
        background:none;
      
        position:relative;
        order:1;
      
    }
    .btn-delete:hover{
        cursor:pointer;
        background:none;
        text-decoration: underline;

    }



}

@media (min-width: 520px){


   
    .container-header{

        height: 150px;
     
    }

    .main-navbar{

        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
       
       
        /* text-align: center; */
        
    }
    .logo-main-navbar img{

        width: 50%;
    } 
    .main-navbar ul{
        
        text-align: center;
     
    }

    .main-navbar li{

        /* display: inline; */
   
      
        list-style: none;
        color: rgb(230, 230, 230);
        font-weight: 300;
        font-size: 1rem;
        
    }

    .main-search-bar{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        justify-content:center;
        /* background-color: #3D3D3D;
        color:red; */
    }
    .search-bar{
        display: flex;
        flex-wrap: nowrap;
        width: 70%;
        justify-content:center;
        border: none;
        
         /* background-color: #e2e2e2; */
       
    }
    .search-bar input{
        width: 60%;
        border: none;
        /* border-radius: 50%; */
        border-radius:  5px 0 0  5px;
      
    }
    .search-bar button{
        width:40%;
        border: none;
        background-color: #e2e2e2;
        /* border-radius: 50%; */
        border-radius: 0 5px 5px  0;
      
        cursor: pointer;
    }

   
    .main-navbar li{
        display: grid;
       
        margin: auto;
        list-style: none;
        color: rgb(230, 230, 230);
        font-weight: 300;
        font-size: 1rem;
        transition: all 0.4s;
    }
    

}


@media (min-width: 720px){

    .container-header{

        width : 100%;
        display: flex;
        
        justify-content:center;
        align-items: center;
        align-content:center;
        
        position: fixed;
        top: 0px;
        z-index: 3;
        background-color : rgb(61, 61, 61);
        height: 200px;
        margin:  auto;
        box-shadow: 0px 9px 7px rgba(0, 0, 0, 0.253);
        
        
    }
    
    .main-navbar{
       
        justify-content:center;
        margin: auto;
        /* background-color:red; */
        color: rgb(230, 230, 230);
       

    }
  
    .search-bar{
        display: flex;
        flex-wrap: nowrap;
        width: 50%;
        justify-content:center;
        border: none;
        
         /* background-color: #e2e2e2; */
       
    }
    .search-bar input{
        width: 70%;
        border: none;
        /* border-radius: 50%; */
        border-radius:  7px 0 0  7px;
      
       
       
    }
    .search-bar button{
        width:30%;
        border: none;
        background-color: #e2e2e2;
        /* border-radius: 50%; */
        border-radius: 0 7px 7px  0;
      
        cursor: pointer;
    }


}

@media (min-width: 1020px){

    .container-header{

        width : 100%;
        display: flex;
        
        justify-content:center;
        align-items: center;
        align-content:center;
        
        position: fixed;
        top: 0px;
        z-index: 3;
        background-color : rgb(61, 61, 61);
        height: 200px;
        margin:  auto;
        box-shadow: 0px 9px 7px rgba(0, 0, 0, 0.253);
        
        
    }
    
    .main-navbar{
       
        justify-content:center;
        margin: auto;
        /* background-color:red; */
        color: rgb(230, 230, 230);
       

    }
  
    .search-bar{
        display: flex;
        flex-wrap: nowrap;
        width: 40%;
        justify-content:center;
        border: none;
        
         /* background-color: #e2e2e2; */
       
    }
    .search-bar input{
        width: 70%;
        border: none;
        /* border-radius: 50%; */
        border-radius:  7px 0 0  7px;
      
       
       
    }
    .search-bar button{
        width:30%;
        border: none;
        background-color: #e2e2e2;
        /* border-radius: 50%; */
        border-radius: 0 7px 7px  0;
      
        cursor: pointer;
    }


}





/* ------------------General------------------- */



@media(min-width:320px){




/* -----------------CSS MAIN----------------------- */

.create-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    height:100%;
    margin: auto;
    margin-top: 60%;
    margin-bottom: 10%;
    
    
   
}
.backButton{
  
    display: flex;
   flex-wrap: wrap;
  
    width: 100%;
    height: 33px;
    font-family:Roboto;
    font-style:normal;
    font-weight:400;
    font-size: 1.1rem ;
    line-height: 33px;
    color: #727272;
    margin-bottom: 30px;
    text-decoration: underline;
 
}

.backButton a{

    text-decoration: none;
    color: #3D3D3D;
}

.backButton a:hover{
    font-weight:500;
}

.headForm{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    height: 81px;
    margin-bottom: 2%;
   
}

.tituloForm{

    
    width: 100%;
    font-family: Roboto;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 43px;
    /* display: flex;
    align-items: center; */
    
    color: #3D3D3D;

}

.ayudaCrearProducto{
 font-family: Roboto;
font-style:normal;
font-style: light;
font-weight: 300;
font-size: 1.1rem;
line-height: 34px; 
/* display: flex;
align-items: center; */

color: #7D7D7D;

}



.menuContainer{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
    /* gap:10px; */
    margin: auto;
    margin-top: 10%;
    margin-bottom: 20%;

    width: 100%;
    height:  900px;
   

    /* margin-top: 12%; */
  
}

/* -----------------------LEFT CONTAINER------------------------ */


.leftContainer{
    /* position: absolute;
   
    left: 120px;
    top: 526px; */
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    order:3;
   
    
}

.left-img-container{

display: flex;
align-items: stretch;
width: 100%;

overflow: hidden;
padding-top: 5px;
/* height: 151px; */
border-radius: 4.08353px;
box-shadow: 0.816707px 2.04177px 6.1253px 2.04177px rgba(0, 0, 0, 0.04);
margin: auto;

/* left: 122px;
top: 526px; */
}

.leftContainer img:hover{
    cursor: pointer;
    box-shadow: 0px 4px 12px 3px #c7c7c76e;
}


/* -----------------------MIDDLE CONTAINER------------------------ */

.middleContainer {


   display: flex;
   flex-wrap: wrap;
  
   justify-content: center; 
   align-items: flex-start;
   align-content: flex-start;
     width: 70%;
     height:100%;
    order: 2;
    align-self: flex-start;
    margin:auto;
    margin-bottom: 10%;
    margin-top:10%;
    
}

.middle-img-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: inherit;
    box-shadow: 2px 5px 15px 5px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    overflow: hidden;
   
    }

    .middle-img-container:hover{
        box-shadow: 4px 8px 10px #c7c7c7;
    }

    .middle-img-container img{
   
        margin: auto;
        width:100%;
        height: 100%;
    
    }

    .middle-img-container img:hover{
        cursor: pointer;
        
    }
       

    .img-checkbox{

        display:none;
    }



/* -----------------------RIGHT CONTAINER------------------------ */

    .rightContainer{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column; 
        /* position: absolute; */
        width: 90%;
        height: 100%;
       /* left: 897px;
        top: 476px; 

     */
        order: 3;
        color: #3d3d3d;
        margin-top:10%;
    }


      
     
   .signo-precio{

    display: flex;
    flex-wrap: nowrap;
    width: 10%;
    font-family: Roboto;
    font-style:normal;
    font-weight: 300;
    font-size: 1.3em;
    color: #3d3d3d;
   }
    .product-description{

        display: flex;
        width: 100%;
        
        font-family: Roboto;
        font-style: light;
        font-weight: 300;
        font-size: 1.5em;
        line-height: 34px;
        color: #3d3d3d;
        margin-top: 20px;
        margin-bottom: 100px;
       
    }
    #descriptionTitle{
        font-weight: 400;
    }

 
 

    .input-product-size{
            display: flex;
            flex-wrap: nowrap;
            align-content: center;
            width: 100%;
            font-family: Roboto;
            font-style: normal;
            font-weight: 400;
            font-size: 1.3em;
            line-height: 34px;
            color: #3d3d3d;
            margin-top: 30px;

            border: none;
            outline: none;
            border-bottom: 2px solid #aaaaaa;

    }

    .input-product-size:active,.input-product-size:hover,.input-product-size:focus{

        background-color: rgb(247, 247, 247);
        outline: none;
        border: none;
        border-bottom: 2px solid #aaaaaa;
    }
    .checkbox{

        display: none;
    }

    .sizeContainer{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        /* background-color: blueviolet; */
        width: 100%;
       
        z-index: 2;
        bottom: 6.5%;

    }
   

    .check-product-size{

        font-weight: 300;
        font-size: 1em;

    }

    .check-product-size:hover,.check-product-size:active{

        font-weight: 500;
        line-height: 34px;
        color: rgb(46, 46, 46);
        cursor: pointer;
      
    }

   

    /* COLORES---------- */

    .input-product-color{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        height: 20%;
        align-content:flex-start;
        align-items: flex-start;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 1.1em;
        line-height: 34px;
        color: #3d3d3d;
        margin-top: 2%;
        margin-bottom: 0px;
        border: none;
        outline: none;
        border-bottom: 2px solid #aaaaaa;

}

.input-product-color span{
    font-size: 1.2em;
    width:30%;
    color: #3d3d3d;
    font-weight: 400;
    margin-bottom: 10%;
}

.colorPicker{
   margin-left:10px;
   width:100%;
   border:none;

}
    .colorContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 80%;
        align-self: flex-end;
        position: relative;
        z-index: 1;
        bottom: 5%;
        font-size: 1.5em;

    }
    .colorContainer div{
        margin:5px;
    }

    .white{
        width: 1em;
        height: 1em;
        background-color: rgb(255, 255, 255); 
        border-radius: 100%;
        box-shadow: 0px 2px 5px 0px #a3a3a3bb;
      
    }
    .white:hover{
        cursor: pointer;
        background-color: rgb(250, 250, 250); 
        box-shadow: 0px 0px 0px 0px #b6b6b600;
    }
    .red{
      
        width: 1em;
        height: 1em;
        background-color: #FF7D7D; 
        border-radius: 100%;
        box-shadow: 0px 2px 5px 0px #a3a3a3bb;
      
    }
    .red:hover{
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px #b6b6b600;
    }
    .blue{
        width: 1em;
        height: 1em;
        background-color: #71AAFF;
        ; 
        border-radius: 100%;
        box-shadow: 0px 2px 5px 0px #a3a3a3bb;
      
    }
    .blue:hover{
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px #b6b6b600;
    }
    .green{
        width: 1em;
        height: 1em;
        background-color: #91E08A;
        ; 
        border-radius: 100%;
        box-shadow: 0px 2px 5px 0px #a3a3a3bb;
    }

    .green:hover{
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px #b6b6b600;
    }
    .yellow{
        width: 1em;
        height: 1em;
        background-color: #FFF1A5; 
        border-radius: 100%;
        box-shadow: 0px 2px 5px 0px #a3a3a3bb;
      
    }
    .yellow:hover{
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px #b6b6b600;
    }


.input-product-color:active,.input-product-color:hover,.input-product-color:focus{

    background-color: rgb(247, 247, 247);
    outline: none;
    border: none;
    border-bottom: 2px solid #aaaaaa;
}


/* CATEGORIAS------------- */




    /*-------------------------- BTN------------- */

    .btn-add{

        width: 100%;
        height: 60px;
        background: #3D3D3D;
        box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.2);
        border: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 1.2em;
        line-height: 19px;
        color: #FFFFFF;
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .btn-add:hover{
        cursor:pointer;
        box-shadow: 0px 4px 12px 3px #c7c7c76e;
    }
    

}

@media(min-width:520px){




/* -----------------CSS MAIN----------------------- */


.create-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    height:100%;
    margin: auto;
    margin-top: 30%;
    margin-bottom: 30px;
    
    
   
}
.backButton{
  
    display: flex;
   flex-wrap: wrap;
  
    width: 100%;
    height: 33px;
    font-family:Roboto;
    font-style:normal;
    font-weight:400;
    font-size: 1.375rem ;
    line-height: 33px;
    color: #727272;
    margin-bottom: 30px;
    text-decoration: underline;
 
}

.backButton a{

    text-decoration: none;
    color: #3D3D3D;
}

.backButton a:hover{
    font-weight:500;
}

.headForm{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    height: 81px;
    margin-bottom: 2%;
   
}

.tituloForm{

    
    width: 100%;
    font-family: Roboto;
    font-weight: 500;
    font-size: 2rem;
    line-height: 43px;
    /* display: flex;
    align-items: center; */
    
    color: #3D3D3D;

}

.ayudaCrearProducto{
 font-family: Roboto;
font-style:normal;
font-style: light;
font-weight: 300;
font-size: 1.375rem;
line-height: 34px; 
/* display: flex;
align-items: center; */

color: #7D7D7D;

}



.menuContainer{
    display: flex;
 flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between; 
    gap:10px;
    margin: auto;
    width: 100%;
    height:  900px;
  
   

    /* margin-top: 12%; */
  
}

/* -----------------------LEFT CONTAINER------------------------ */


.leftContainer{
    /* position: absolute;
   
    left: 120px;
    top: 526px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    order:1;
   
    
}

.left-img-container{

    display: flex;
    align-items: stretch;
width: 100%;
overflow: hidden;
padding-top: 5px;;
/* height: 151px; */
border-radius: 4.08353px;
box-shadow: 0.816707px 2.04177px 6.1253px 2.04177px rgba(0, 0, 0, 0.04);
margin: auto;

/* left: 122px;
top: 526px; */
}

.leftContainer img:hover{
    cursor: pointer;
    box-shadow: 0px 4px 12px 3px #c7c7c76e;
}


/* -----------------------MIDDLE CONTAINER------------------------ */

.middleContainer {


   display: flex;
   flex-wrap: nowrap;
  
   justify-content: center; 
   align-items: flex-start;
   align-content: flex-start;
     width: 40%;
     height:55%;
    order: 2;
    align-self: flex-start;
    margin:0;
    
}

.middle-img-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    
    box-shadow: 2px 5px 15px 5px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    overflow: hidden;
   
    }

    .middle-img-container:hover{
        box-shadow: 4px 8px 10px #c7c7c7;
    }

    .middle-img-container img{
   
        margin: auto;
        width:100%;
        height: 100%;
    
    }

    .middle-img-container img:hover{
        cursor: pointer;
        
    }
       

    .img-checkbox{

        display:none;
    }



/* -----------------------RIGHT CONTAINER------------------------ */

    .rightContainer{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column; 
        /* position: absolute; */
        width: 45%;
        height: 100%;
       /* left: 897px;
        top: 476px; 

     */
        order: 3;
        color: #3d3d3d;
        margin:0;
    }



  


    .product-description{

        display: flex;
        width: 100%;
        
        font-family: Roboto;
        font-style: light;
        font-weight: 300;
        font-size: 1.5em;
        line-height: 34px;
        color: #3d3d3d;
        margin-top: 20px;
       
    }
    #descriptionTitle{
        font-weight: 400;
    }

  

    .input-product-size{
            display: flex;
            flex-wrap: nowrap;
            align-content: center;
            width: 100%;
            font-family: Roboto;
            font-style: normal;
            font-weight: 400;
            font-size: 1.3em;
            line-height: 34px;
            color: #3d3d3d;
            margin-top: 30px;
            border: none;
            outline: none;
            border-bottom: 2px solid #aaaaaa;

    }

    .input-product-size:active,.input-product-size:hover,.input-product-size:focus{

        background-color: rgb(247, 247, 247);
        outline: none;
        border: none;
        border-bottom: 2px solid #aaaaaa;
    }
    .checkbox{

        display: none;
    }

    .sizeContainer{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        /* background-color: blueviolet; */
        width: 100%;
       
        z-index: 2;
        bottom: 6.5%;

    }
   

    .check-product-size{

        font-weight: 300;
        font-size: 1em;

    }

    .check-product-size:hover,.check-product-size:active{

        font-weight: 500;
        line-height: 34px;
        color: rgb(46, 46, 46);
        cursor: pointer;
      
    }

   

    /* COLORES---------- */

    .input-product-color{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        height: 200px;
        align-content: flex-start;
        align-items: flex-start;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 1.3em;
        line-height: 34px;
        color: #3d3d3d;
        margin-top: 20px;
        margin-bottom: 20px;
        border: none;
        outline: none;
        border-bottom: 2px solid #aaaaaa;

}

.input-product-color span{
    width:30%;
    color: #3d3d3d;
    font-weight: 400;
}

.colorPicker{
   margin-left:10px;
   width:100%;
   border:none;

}
    .colorContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 90%;
        align-self: flex-end;
        position: relative;
        z-index: 1;
        bottom: 7%;
        font-size: 1.5em;

    }
    .colorContainer div{
        margin:5px;
    }

    .white{
        width: 1em;
        height: 1em;
        background-color: rgb(255, 255, 255); 
        border-radius: 100%;
        box-shadow: 0px 2px 5px 0px #a3a3a3bb;
      
    }
    .white:hover{
        cursor: pointer;
        background-color: rgb(250, 250, 250); 
        box-shadow: 0px 0px 0px 0px #b6b6b600;
    }
    .red{
      
        width: 1em;
        height: 1em;
        background-color: #FF7D7D; 
        border-radius: 100%;
        box-shadow: 0px 2px 5px 0px #a3a3a3bb;
      
    }
    .red:hover{
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px #b6b6b600;
    }
    .blue{
        width: 1em;
        height: 1em;
        background-color: #71AAFF;
        ; 
        border-radius: 100%;
        box-shadow: 0px 2px 5px 0px #a3a3a3bb;
      
    }
    .blue:hover{
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px #b6b6b600;
    }
    .green{
        width: 1em;
        height: 1em;
        background-color: #91E08A;
        ; 
        border-radius: 100%;
        box-shadow: 0px 2px 5px 0px #a3a3a3bb;
    }

    .green:hover{
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px #b6b6b600;
    }
    .yellow{
        width: 1em;
        height: 1em;
        background-color: #FFF1A5; 
        border-radius: 100%;
        box-shadow: 0px 2px 5px 0px #a3a3a3bb;
      
    }
    .yellow:hover{
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px #b6b6b600;
    }


.input-product-color:active,.input-product-color:hover,.input-product-color:focus{

    background-color: rgb(247, 247, 247);
    outline: none;
    border: none;
    border-bottom: 2px solid #aaaaaa;
}


/* CATEGORIAS------------- */




    /*-------------------------- BTN------
    ------- */
    .btn-container{
        display:flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-items: center;
        width:100%;
        justify-content: space-between;
        margin:auto;
        
        
    }
  
    .btn-edit{
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 50%;
        height: 60px;
        background: #3D3D3D;
        box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.2);
        border: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 1.1em;
        line-height: 19px;
        padding:10px;
        
        color: #FFFFFF;
    }
    .btn-edit:hover{
        cursor:pointer;
        box-shadow: 0px 4px 12px 3px #c7c7c76e;
    }

    .btn-delete{
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 60px;
      
        border: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 1em;
        line-height: 19px;
        color: #f53a3a;
        padding:10px;
        background:none;
      
        position:relative;
        order:1;
      
    }
    .btn-delete:hover{
        cursor:pointer;
        background:none;
        text-decoration: underline;

    }



}
@media(min-width:720px){




/* -----------------CSS MAIN----------------------- */

.create-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    height:100%;
    margin: auto;
    margin-top: 35%;
    margin-bottom: 30px;
    
    
   
}
.backButton{
  
    display: flex;
   flex-wrap: wrap;
 
    width: 100%;
    height: 33px;
    font-family:Roboto;
    font-style:normal;
    font-weight:400;
    font-size: 1.375rem ;
    line-height: 33px;
    color: #727272;
    margin-bottom: 30px;
    text-decoration: underline;
 
}

.backButton a{

    text-decoration: none;
    color: #3D3D3D;
}

.backButton a:hover{
    font-weight:500;
}

.headForm{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    height: 81px;
    margin-bottom: 2%;
   
}

.tituloForm{

    
    width: 100%;
    font-family: Roboto;
    font-weight: 500;
    font-size: 2rem;
    line-height: 43px;
    /* display: flex;
    align-items: center; */
    
    color: #3D3D3D;

}

.ayudaCrearProducto{
 font-family: Roboto;
font-style:normal;
font-style: light;
font-weight: 300;
font-size: 1.375rem;
line-height: 34px; 
/* display: flex;
align-items: center; */

color: #7D7D7D;

}



.menuContainer{
    display: flex;
 flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between; 
    gap:10px;
    margin: auto;
    width: 100%;
    height:  900px;
  
   

    /* margin-top: 12%; */
  
}

/* -----------------------LEFT CONTAINER------------------------ */


.leftContainer{
    /* position: absolute;
   
    left: 120px;
    top: 526px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    order:1;
   
    
}

.left-img-container{

    display: flex;
    align-items: stretch;
width: 100%;
overflow: hidden;
padding-top: 5px;;
/* height: 151px; */
border-radius: 4.08353px;
box-shadow: 0.816707px 2.04177px 6.1253px 2.04177px rgba(0, 0, 0, 0.04);
margin: auto;

/* left: 122px;
top: 526px; */
}

.leftContainer img:hover{
    cursor: pointer;
    box-shadow: 0px 4px 12px 3px #c7c7c76e;
}


/* -----------------------MIDDLE CONTAINER------------------------ */

.middleContainer {


   display: flex;
   flex-wrap: wrap;
  
   justify-content: center; 
   align-items: flex-start;
   align-content: flex-start;
     width: 35%;
     height:60%;
    order: 2;
    align-self: flex-start;
    margin:0;
    
}

.middle-img-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: inherit;
    box-shadow: 2px 5px 15px 5px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    overflow: hidden;
   
    }

    .middle-img-container:hover{
        box-shadow: 4px 8px 10px #c7c7c7;
    }

    .middle-img-container img{
   
        margin: auto;
        width:100%;
        height: 100%;
    
    }

    .middle-img-container img:hover{
        cursor: pointer;
        
    }
       

    .img-checkbox{

        display:none;
    }



/* -----------------------RIGHT CONTAINER------------------------ */

    .rightContainer{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column; 
        /* position: absolute; */
        width: 40%;
        height: 100%;
       /* left: 897px;
        top: 476px; 

     */
        order: 3;
        color: #3d3d3d;
        margin:0;
    }


    .product-description{

        display: flex;
        width: 100%;
        
        font-family: Roboto;
        font-style: light;
        font-weight: 300;
        font-size: 1.5em;
        line-height: 34px;
        color: #3d3d3d;
        margin-top: 20px;
       
    }
    #descriptionTitle{
        font-weight: 400;
    }

    .input-product-size{
            display: flex;
            flex-wrap: nowrap;
            align-content: center;
            width: 100%;
            font-family: Roboto;
            font-style: normal;
            font-weight: 400;
            font-size: 1.3em;
            line-height: 34px;
            color: #3d3d3d;
            margin-top: 30px;
            border: none;
            outline: none;
            border-bottom: 2px solid #aaaaaa;

    }

    .input-product-size:active,.input-product-size:hover,.input-product-size:focus{

        background-color: rgb(247, 247, 247);
        outline: none;
        border: none;
        border-bottom: 2px solid #aaaaaa;
    }
    .checkbox{

        display: none;
    }

    .sizeContainer{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        /* background-color: blueviolet; */
        width: 100%;
       
        z-index: 2;
        bottom: 6.5%;

    }
   

    .check-product-size{

        font-weight: 300;
        font-size: 1em;

    }

    .check-product-size:hover,.check-product-size:active{

        font-weight: 500;
        line-height: 34px;
        color: rgb(46, 46, 46);
        cursor: pointer;
      
    }

   

    /* COLORES---------- */

 
    .input-product-color{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        align-content: flex-start;
        align-items: start;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 1.3em;
        line-height: 34px;
        color: #3d3d3d;
        margin-top: 10px;
        margin-bottom: 20px;
        border: none;
        outline: none;
        border-bottom: 2px solid #aaaaaa;
        overflow: hidden;

}

.input-product-color span{
    width:100%;
    color: #3d3d3d;
    font-weight: 400;
    
}

.colorPicker{
   margin-left:10px;
   width:100%;
   border:none;

}
    .colorContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 80%;
        align-self: flex-end;
        position: relative;
        z-index: 1;
        bottom: 7%;
        font-size: 1.5em;

    }
    .colorContainer div{
        margin:5px;
    }

    .white{
        width: 1em;
        height: 1em;
        background-color: rgb(255, 255, 255); 
        border-radius: 100%;
        box-shadow: 0px 2px 5px 0px #a3a3a3bb;
      
    }
    .white:hover{
        cursor: pointer;
        background-color: rgb(250, 250, 250); 
        box-shadow: 0px 0px 0px 0px #b6b6b600;
    }
    .red{
      
        width: 1em;
        height: 1em;
        background-color: #FF7D7D; 
        border-radius: 100%;
        box-shadow: 0px 2px 5px 0px #a3a3a3bb;
      
    }
    .red:hover{
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px #b6b6b600;
    }
    .blue{
        width: 1em;
        height: 1em;
        background-color: #71AAFF;
        ; 
        border-radius: 100%;
        box-shadow: 0px 2px 5px 0px #a3a3a3bb;
      
    }
    .blue:hover{
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px #b6b6b600;
    }
    .green{
        width: 1em;
        height: 1em;
        background-color: #91E08A;
        ; 
        border-radius: 100%;
        box-shadow: 0px 2px 5px 0px #a3a3a3bb;
    }

    .green:hover{
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px #b6b6b600;
    }
    .yellow{
        width: 1em;
        height: 1em;
        background-color: #FFF1A5; 
        border-radius: 100%;
        box-shadow: 0px 2px 5px 0px #a3a3a3bb;
      
    }
    .yellow:hover{
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px #b6b6b600;
    }


.input-product-color:active,.input-product-color:hover,.input-product-color:focus{

    background-color: rgb(247, 247, 247);
    outline: none;
    border: none;
    border-bottom: 2px solid #aaaaaa;
}


/* CATEGORIAS------------- */




    /*-------------------------- BTN------
    ------- */
    .btn-container{
        display:flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-items: center;
        width:100%;
        justify-content: space-between;
        margin:auto;
        
        
    }
  
    .btn-edit{
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 50%;
        height: 60px;
        background: #3D3D3D;
        box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.2);
        border: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 1.1em;
        line-height: 19px;
        padding:10px;
        
        color: #FFFFFF;
    }
    .btn-edit:hover{
        cursor:pointer;
        box-shadow: 0px 4px 12px 3px #c7c7c76e;
    }

    .btn-delete{
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 60px;
      
        border: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 1em;
        line-height: 19px;
        color: #f53a3a;
        padding:10px;
        background:none;
      
        position:relative;
        order:1;
      
    }
    .btn-delete:hover{
        cursor:pointer;
        background:none;
        text-decoration: underline;

    }





}
@media(min-width:1020px){




/* -----------------CSS MAIN----------------------- */

.create-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    height:100%;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 30px;
    
    
   
}
.backButton{
  
    display: flex;
   flex-wrap: wrap;
  
    width: 100%;
    height: 33px;
    font-family:Roboto;
    font-style:normal;
    font-weight:400;
    font-size: 1.375rem ;
    line-height: 33px;
    color: #727272;
    margin-bottom: 30px;
    text-decoration: underline;
 
}

.backButton a{

    text-decoration: none;
    color: #3D3D3D;
}

.backButton a:hover{
    font-weight:500;
}

.headForm{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    height: 81px;
    margin-bottom: 2%;
   
}

.tituloForm{

    
    width: 100%;
    font-family: Roboto;
    font-weight: 500;
    font-size: 2rem;
    line-height: 43px;
    /* display: flex;
    align-items: center; */
    
    color: #3D3D3D;

}

.ayudaCrearProducto{
 font-family: Roboto;
font-style:normal;
font-style: light;
font-weight: 300;
font-size: 1.375rem;
line-height: 34px; 
/* display: flex;
align-items: center; */

color: #7D7D7D;

}



.menuContainer{
    display: flex;
 flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between; 
  
     margin: auto;
    width: 100%;
    height:  900px;
  
   

    /* margin-top: 12%; */
  
}

/* -----------------------LEFT CONTAINER------------------------ */


.leftContainer{
    /* position: absolute;
   
    left: 120px;
    top: 526px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    order:1;
   
    
}

.left-img-container{

 display: flex;
 align-items: stretch;
width: 100%;
overflow: hidden;
padding-top: 5px;;
/* height: 151px; */
border-radius: 4.08353px;
box-shadow: 0.816707px 2.04177px 6.1253px 2.04177px rgba(0, 0, 0, 0.04);
margin: auto;

/* left: 122px;
top: 526px; */
}

.leftContainer img:hover{
    cursor: pointer;
    box-shadow: 0px 4px 12px 3px #c7c7c76e;
}


/* -----------------------MIDDLE CONTAINER------------------------ */

.middleContainer {


   display: flex;
   flex-wrap: wrap;
  
   justify-content: center; 
   align-items: flex-start;
   align-content: flex-start;
     width: 35%;
     height:60%;
    order: 2;
    align-self: flex-start;
    margin:0;
    
}

.middle-img-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: inherit;
    box-shadow: 2px 5px 15px 5px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    overflow: hidden;
   
    }

    .middle-img-container:hover{
        box-shadow: 4px 8px 10px #c7c7c7;
    }

    .middle-img-container img{
   
        margin: auto;
        width:100%;
        height: 100%;
    
    }

    .middle-img-container img:hover{
        cursor: pointer;
        
    }
       

    .img-checkbox{

        display:none;
    }



/* -----------------------RIGHT CONTAINER------------------------ */

    .rightContainer{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column; 
        /* position: absolute; */
        width: 40%;
        height: 100%;
       /* left: 897px;
        top: 476px; 

     */
        order: 3;
        color: #3d3d3d;
        margin:0;
    }



      
       

    .product-description{

        display: flex;
        width: 100%;
        
        font-family: Roboto;
        font-style: light;
        font-weight: 300;
        font-size: 1.5em;
        line-height: 34px;
        color: #3d3d3d;
        margin-top: 20px;
       
    }
    #descriptionTitle{
        font-weight: 400;
    }



    .input-product-size{
            display: flex;
            flex-wrap: nowrap;
            align-content: center;
            width: 100%;
            font-family: Roboto;
            font-style: normal;
            font-weight: 400;
            font-size: 1.3em;
            line-height: 34px;
            color: #3d3d3d;
            margin-top: 30px;
            border: none;
            outline: none;
            border-bottom: 2px solid #aaaaaa;

    }

    .input-product-size:active,.input-product-size:hover,.input-product-size:focus{

        background-color: rgb(247, 247, 247);
        outline: none;
        border: none;
        border-bottom: 2px solid #aaaaaa;
    }
    .checkbox{

        display: none;
    }

    .sizeContainer{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        /* background-color: blueviolet; */
        width: 100%;
       
        z-index: 2;
        bottom: 6.5%;

    }
   

    .check-product-size{

        font-weight: 300;
        font-size: 1em;

    }

    .check-product-size:hover,.check-product-size:active{

        font-weight: 500;
        line-height: 34px;
        color: rgb(46, 46, 46);
        cursor: pointer;
      
    }

   

    /* COLORES---------- */

    .input-product-color{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 200px;
        align-content: flex-start;
        align-items: start;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 1.3em;
        line-height: 34px;
        color: #3d3d3d;
        margin-top: 20px;
        margin-bottom: 20px;
        border: none;
        outline: none;
        border-bottom: 2px solid #aaaaaa;

}

.input-product-color span{
    width:100%;
    color: #3d3d3d;
    font-weight: 400;
    
}

.colorPicker{
   margin-left:10px;
   width:100%;
   border:none;

}
    .colorContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 70%;
        align-self: flex-end;
        position: relative;
        z-index: 1;
        bottom: 7%;
        font-size: 1.5em;

    }
    .colorContainer div{
        margin:5px;
    }

    .white{
        width: 1em;
        height: 1em;
        background-color: rgb(255, 255, 255); 
        border-radius: 100%;
        box-shadow: 0px 2px 5px 0px #a3a3a3bb;
      
    }
    .white:hover{
        cursor: pointer;
        background-color: rgb(250, 250, 250); 
        box-shadow: 0px 0px 0px 0px #b6b6b600;
    }
    .red{
      
        width: 1em;
        height: 1em;
        background-color: #FF7D7D; 
        border-radius: 100%;
        box-shadow: 0px 2px 5px 0px #a3a3a3bb;
      
    }
    .red:hover{
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px #b6b6b600;
    }
    .blue{
        width: 1em;
        height: 1em;
        background-color: #71AAFF;
        ; 
        border-radius: 100%;
        box-shadow: 0px 2px 5px 0px #a3a3a3bb;
      
    }
    .blue:hover{
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px #b6b6b600;
    }
    .green{
        width: 1em;
        height: 1em;
        background-color: #91E08A;
        ; 
        border-radius: 100%;
        box-shadow: 0px 2px 5px 0px #a3a3a3bb;
    }

    .green:hover{
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px #b6b6b600;
    }
    .yellow{
        width: 1em;
        height: 1em;
        background-color: #FFF1A5; 
        border-radius: 100%;
        box-shadow: 0px 2px 5px 0px #a3a3a3bb;
      
    }
    .yellow:hover{
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px #b6b6b600;
    }


.input-product-color:active,.input-product-color:hover,.input-product-color:focus{

    background-color: rgb(247, 247, 247);
    outline: none;
    border: none;
    border-bottom: 2px solid #aaaaaa;
}


/* CATEGORIAS------------- */




    /*-------------------------- BTN------
    ------- */
    .btn-container{
        display:flex;
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-items: center;
        width:100%;
        justify-content: space-between;
        margin:auto;
        
        
    }
  
    .btn-edit{
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 50%;
        height: 60px;
        background: #3D3D3D;
        box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.2);
        border: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 1.1em;
        line-height: 19px;
        padding:10px;
        
        color: #FFFFFF;
    }
    .btn-edit:hover{
        cursor:pointer;
        box-shadow: 0px 4px 12px 3px #c7c7c76e;
    }

    .btn-delete{
        display:flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 60px;
      
        border: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 1em;
        line-height: 19px;
        color: #f53a3a;
        padding:10px;
        background:none;
      
        position:relative;
        order:1;
      
    }
    .btn-delete:hover{
        cursor:pointer;
        background:none;
        text-decoration: underline;

    }
/* 
    .btn-add{

        width: 100%;
        height: 60px;
        background: #3D3D3D;
        box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.2);
        border: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 1.2em;
        line-height: 19px;
        color: #FFFFFF;
        margin-top: 20px;
    }
    .btn-add:hover{
        cursor:pointer;
        box-shadow: 0px 4px 12px 3px #c7c7c76e;
    } */

}