@import url("/css/normalize.css");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@100;300;400;500&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
/* -----------NUEVO HEADER-------- */

body{

    font-family:roboto,sans-serif;

}
.container-header{

width : 100%;
display: flex;
flex-wrap: wrap;
justify-content:center;
align-items: center;
position: relative;
position: fixed;
z-index: 3;
background-color : rgb(61, 61, 61);
height: 180px;
margin:  auto;
box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.253);
 
}

.main-navbar{
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
margin: auto;
color: rgb(230, 230, 230);
}
.colorSelected{
    border-top: 4px solid #616161;
    border-bottom: 2px solid #616161
}
.sizeSelected{
    color: #A96028;
    
}
.main-navbar li{
display: inline;
padding:.9rem;
margin: auto;
list-style: none;
color: rgb(230, 230, 230);
font-weight: 300;
font-size: 1.1rem;
transition: all 0.4s;
}
.main-navbar li:hover{
font-weight: 500;

}

.logo-main-navbar{

width: 100%;
display: flex;
justify-content: center;
align-self: flex-end;
text-align: center;

}
.logo-main-navbar img{

width: 60%;
} 



/* -----------NUEVO HEADER-------- */

/* -----------NUEVO PRODUCTS-------- */

.products-container{

display: flex;
flex-wrap: wrap;
justify-content:space-around;
width: 90%;
margin: auto;
}

.product2{

width: 420px;
height:650px;
border-radius:2%;
display: flex;
flex-wrap: wrap;
justify-content:center;
align-items: center;
overflow: hidden;
transition: all 400ms;

}

.product2:hover{
box-shadow: 2px 7px 5px rgba(0, 0, 0, 0.253);
}
/* .product-link{
width: 280px;
height:380px;
display: flex;
overflow: hidden;
} */


.category-container{
width: 100%;
/* height:50px; */
color: #3D3D3D;
background-color: white;
align-self: flex-start;
display: flex;
align-items:center;
padding-left:10px;
font-size: 1rem;
position: relative;
z-index: 1;

}

.img-container{

background-color:yellowgreen;
display: flex;
justify-content:center;

width: 100%;
align-self: flex-start;
height: inherit;


}

.img-container img{

overflow: hidden;
width: 100%;
position: relative;
bottom: 5%;
}

.product-info{

display: flex;
align-items:center;
flex-wrap: wrap;
width: 100%;
background-color:white;
height: 70px;
padding: 0px 20px;
position: relative;
bottom: 25%;
z-index: 2;

}

.product-info-lef-container{

display: flex;
flex-wrap: wrap;
width: 60%;
justify-content:left;
}

.product-info-right-container{

display: flex;
flex-wrap: nowrap;
width: 40%;
justify-content:right;
}
.product-price{

font-size: 1.3rem;
color: #3D3D3D;
font-weight:900;
}
.product-name{
width: 100%;
font-size: 1.3rem;

}

.product-discount{
font-size: 1.3rem;
font-weight: bold;

color: rgb(54, 202, 138)

}


/* -----------NUEVO PRODUCTS-------- */

/* -------Newsletter--------------------------- */
.new-newsletter{
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
background-color: #EDEDED;
height: 250px;

}
.subscribe-newsletter{
width: 100%;
text-align: center;
color:  #3D3D3D;
font-size: 1.5rem;
font-weight:600;

}

.newsletter-mail{
display: flex;
flex-wrap: nowrap;
align-items: center;
justify-content: center;
width:50%;
position: relative;
bottom:10%;

}
.newsletter-mail,input, button{

height:50px;
border: none;


}

.newsletter-mail input{

width: 70%;
border-radius:  7px 0 0  7px;
}
.newsletter-mail button{
width: 30%;
background-color: #3D3D3D;
color: white;
border-radius: 0 7px 7px  0;
cursor: pointer;
}


/* -----------NEW FOOTER------------------ */

.footer-container2{
display: flex;
justify-content:center;
align-items:center;
flex-wrap: wrap;
width: 100%;
background-color:#3D3D3D;
height:230px;
}

.logo-footer{
text-align: center;
width: 100%;

}


.footer-icons2{

display: flex;
flex-wrap: nowrap;
justify-content:center;
align-items: center;
width: 100%;
color: white;
margin: auto;
position:relative;
bottom:20px;
}
.footer-icons2 li{
display:inline;
padding: 10px;
}

.copyright2{

color: white;
margin: auto;
font-weight: 300;
}

/* ---------------------------------------------------------------------------------- */
/* ---------------------- EMPIEZAN NUEVOS QUERIES------------------------------- */
/* ---------------------------------------------------------------------------------- */

/* -----------NUEVO HEADER QUERIES-------- */

@media (min-width: 320px){

.container-header{

    height: 150px;
 
}

.main-navbar{

    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
   
   
    /* text-align: center; */
    
}
.logo-main-navbar img{

    width: 40%;
} 
.main-navbar ul{
    
    text-align: center;
 
}

.main-navbar li{

    /* display: inline; */
    padding:.25rem;
  
    list-style: none;
    color: rgb(230, 230, 230);
    font-weight: 300;
    font-size: 0.75rem;
    
}

}

/* -------------------1280--------------------- */
@media (min-width: 1280px){

.container-header{

    width : 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    position: relative;
    position: fixed;
    z-index: 3;
    background-color : rgb(61, 61, 61);
    height: 180px;
    margin:  auto;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.253);
    
    
    
    
}

.main-navbar{
    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    margin: auto;
    color: rgb(230, 230, 230);
   

}
.main-navbar li{
    display: inline;
    padding:.9rem;
    margin: auto;
    list-style: none;
    color: rgb(230, 230, 230);
    font-weight: 300;
    font-size: 1.2rem;
    transition: all 0.4s;
}
.main-navbar li:hover{
    font-weight: 500;
   
}

.logo-main-navbar{

    width: 100%;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    text-align: center;

}
 .logo-main-navbar img{

    width: 70%;
} 

}

/* -----------NUEVO BANNER QUERIES---------------------- */
@media(min-width:320px){

.banner-container{
    display: flex;
    justify-content:center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
    text-align: center;
    position: relative;
    top: 23vh;
    margin-bottom: 200px;
   
    
}

.banner-container img{

    width: 140%;
 
}


.over-img-bar{

    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 40px;
    background-color: #7ccc7c8e;
    position: relative;
    z-index: 1;
    bottom: 210px;
    align-self: center;
}

.over-img-bar h1{

    font-size: .8rem ;
    font-weight: 500;
    color: #3D3D3D;
}

.arrows-container{

    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-items: space-between;
    justify-content:center;
}

.left-arrow{

    
    width: 30px;
    height: 30px;
    border-radius:50%;
   display: flex;
   justify-content:center;
   align-items:center;
   color: #3D3D3D;
} 
.right-arrow{

    display: flex;
    justify-content:center;
    align-items:center;
    width: 30px;
    height: 30px;
    border-radius:50%;
    color: #3D3D3D;
}


}

@media(min-width:520px){

.banner-container{
    display: flex;
    justify-content:center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    text-align: center;
    position: relative;
    top: 12vh;
    margin-bottom: 200px;
   
    
}

.banner-container img{

    width: 100%;
 
}


.over-img-bar{

    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 40px;
    background-color: #7ccc7c8e;
    position: relative;
    z-index: 1;
    bottom: 600px;
    align-self: center;
}

.over-img-bar h1{

    font-size: 1rem ;
    font-weight: 500;
    color: #3D3D3D;
}

.arrows-container{

    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-items: space-between;
    justify-content:center;
}

.left-arrow{

    
    width: 30px;
    height: 30px;
    border-radius:50%;
   display: flex;
   justify-content:center;
   align-items:center;
   color: #3D3D3D;
} 
.right-arrow{

    display: flex;
    justify-content:center;
    align-items:center;
    width: 30px;
    height: 30px;
    border-radius:50%;
    color: #3D3D3D;
}


}

@media(min-width:1280px){

.banner-container{
    display: flex;
    justify-content:center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
    text-align: center;
    position: relative;
    top: 15vh;
    margin-bottom: 250px;
   
    
}

.banner-container img{

    width: 100%;
 
}


.over-img-bar{

    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 60px;
    background-color: #7ccc7c8e;
    position: relative;
    z-index: 1;
    bottom: 600px;
    align-self: center;
}

.over-img-bar h1{

    font-size: 1.7rem ;
    font-weight: 600;
    color: #3D3D3D;
}

.arrows-container {

    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    align-items: space-between;
    justify-content:center;
   
    
}

.left-arrow {

  
   display: flex;
   justify-content:center;
   align-items:center;
   color: #3D3D3D;
   height:200px;
} 
.right-arrow{

    display: flex;
    justify-content:center;
    align-items:center;
    width: 30px;
    height: 30px;
    border-radius:50%;
    color: #3D3D3D;
}


}

/* -----------NUEVO products QUERIES-------- */

@media(min-width: 320px){
.products-container{

    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    width: 100%;
    margin-bottom: 50px;
   
}
.product2{

    width: 230px;
    height:345px;
    border-radius:2%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    /* margin-right: 10px; */
    margin: 20px 0px;

    overflow: hidden;
    transition: all 400ms;
    
    
}
.category-container{
    width: 100%;
    /* height:50px; */
    color: #3D3D3D;
    align-self: flex-start;
    display: flex;
    align-items:center;
    padding-left:10px;
    font-size: .8rem;
    position: relative;
    height:40px;
    z-index: 1;
    
}

.img-container img{

    overflow: hidden;
    width: 100%;
    position: relative;
    bottom: 5%;
}

.product-info{

    display: flex;
    align-items:center;
    flex-wrap: wrap;
    width: 100%;
    background-color:white;
    height: 70px;
    padding: 0px 10px;
    position: relative;
    bottom: 35%;
    z-index: 2;
   
}

.product-info-lef-container{

display: flex;
flex-wrap: wrap;
width: 60%;
justify-content:left;
}

.product-info-right-container{

display: flex;
flex-wrap: nowrap;
width: 40%;
justify-content:right;
}
.product-price{

    font-size: 1.3rem;
    color: #3D3D3D;
    font-weight:900;
}
.product-name{
    width: 100%;
    font-size: 1rem;
  
}

.product-discount{
    font-size: 1.1rem;
    font-weight: bold;
    
    color: rgb(54, 202, 138)
   
}
}

@media(min-width: 520px){
.products-container{

    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 100%;
    
}
.product2{

    width: 210px;
    height:325px;
    border-radius:2%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    overflow: hidden;
    transition: all 400ms;
    
    
}
.category-container{
    width: 100%;
    /* height:50px; */
    color: #3D3D3D;
    
    align-self: flex-start;
    display: flex;
    align-items:center;
    padding-left:10px;
    font-size: .8rem;
    position: relative;
    height:40px;
    z-index: 1;
    
}

.img-container img{

    overflow: hidden;
    width: 100%;
    position: relative;
    bottom: 5%;
}

.product-info{

    display: flex;
    align-items:center;
    flex-wrap: wrap;
    width: 100%;
    background-color:white;
    height: 70px;
    padding: 0px 10px;
    position: relative;
    bottom: 37%;
    z-index: 2;
   
}

.product-info-lef-container{

display: flex;
flex-wrap: wrap;
width: 60%;
justify-content:left;
}

.product-info-right-container{

display: flex;
flex-wrap: nowrap;
width: 40%;
justify-content:right;
}
.product-price{

    font-size: 1.3rem;
    color: #3D3D3D;
    font-weight:900;
}
.product-name{
    width: 100%;
    font-size: 1rem;
  
}

.product-discount{
    font-size: 1rem;
    font-weight: bold;
    
    color: rgb(54, 202, 138)
   
}
}

@media(min-width:1280px){


.products-container{

display: flex;
flex-wrap: wrap;
justify-content:space-around;
width: 90%;
/* margin: auto; */
/* margin-top:300px; */

}

.product2{

width: 420px;
height:650px;
border-radius:2%;
display: flex;
flex-wrap: wrap;
justify-content:center;
align-items: center;
overflow: hidden;
text-decoration: none;
transition: all 400ms;

}

.product2:hover{
box-shadow: 2px 7px 5px rgba(0, 0, 0, 0.253);
}
/* .product-link{
width: 280px;
height:380px;
display: flex;
overflow: hidden;
} */


.category-container{
width: 100%;
/* height:50px; */
color: #3D3D3D;

align-self: flex-start;
display: flex;
align-items:center;
padding-left:10px;
font-size: 1rem;
position: relative;
z-index: 1;


}

.img-container{

background-color:yellowgreen;
display: flex;
justify-content:center;
width: 100%;
align-self: flex-start;
height: inherit;


}

.img-container img{

overflow: hidden;
width: 100%;
position: relative;
bottom: 5%;
}

.product-info{

display: flex;
align-items:center;
flex-wrap: wrap;
width: 100%;
background-color:white;
height: 70px;
padding: 0px 30px;
position: relative;
bottom: 20%;
z-index: 2;

}

.product-info-lef-container{

display: flex;
flex-wrap: wrap;
width: 60%;
justify-content:left;
}

.product-info-right-container{

display: flex;
flex-wrap: nowrap;
width: 40%;
justify-content:right;
}
.product-price{

font-size: 1.5rem;
color: #3D3D3D;
font-weight:900;
}
.product-name{
width: 100%;
font-size: 1.3rem;

}

.product-discount{
font-size: 1.5rem;
font-weight: bold;

color: rgb(54, 202, 138)

}


}


/* -----------NUEVO NEWSLETTER QUERIES-------- */


@media(min-width:320px){

.new-newsletter{
width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
background-color: #EDEDED;
height: 170px;

}
.subscribe-newsletter{
width: 80%;
text-align: center;
color:  #3D3D3D;
font-size: 1.1rem;
font-weight:500;

}

.newsletter-mail{
display: flex;
flex-wrap: nowrap;
align-items: center;
justify-content: center;
width:80%;
position: relative;
bottom:10%;

}
.newsletter-mail,input, button{

height:35px;
border: none;


}

.newsletter-mail input{

width: 70%;
border-radius:  7px 0 0  7px;
}
.newsletter-mail button{
width: 30%;
background-color: #3D3D3D;
color: white;
border-radius: 0 7px 7px  0;
cursor: pointer;
font-size: .8rem;
}

}

@media(min-width:520px){

.new-newsletter{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #EDEDED;
    height: 170px;
   
}
.subscribe-newsletter{
    width: 80%;
    text-align: center;
    color:  #3D3D3D;
    font-size: 1.2rem;
    font-weight:500;

}

.newsletter-mail{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width:80%;
    position: relative;
    bottom:10%;
    
}
.newsletter-mail,input, button{

    height:35px;
    border: none;
    
   
}

.newsletter-mail input{

    width: 50%;
    border-radius:  7px 0 0  7px;
}
.newsletter-mail button{
    width: 30%;
    background-color: #3D3D3D;
    color: white;
    border-radius: 0 7px 7px  0;
    cursor: pointer;
    font-size: .8rem;
}

}

@media(min-width:1280px){

    .new-newsletter{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #EDEDED;
        height: 250px;
       
    }
    .subscribe-newsletter{
        width: 100%;
        text-align: center;
        color:  #3D3D3D;
        font-size: 1.5rem;
        font-weight:600;
    
    }
    
    .newsletter-mail{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        width:50%;
        position: relative;
        bottom:10%;
        
    }
    .newsletter-mail,input, button{
    
        height:50px;
        border: none;
        
       
    }
    
    .newsletter-mail input{
    
        width: 70%;
        border-radius:  7px 0 0  7px;
    }
    .newsletter-mail button{
        width: 30%;
        background-color: #3D3D3D;
        color: white;
        border-radius: 0 7px 7px  0;
        font-size: 1.25rem;
        cursor: pointer;
    }
    
    
    }


/* -----------NUEVO FOOTER QUERIES---------------------- */

@media(min-width: 320px){
.footer-container2{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color:#3D3D3D;
    height:120px;
}

.logo-footer{
    text-align: center;
    width: 100%;

}

.logo-footer img{

    width: 30%;
    
}
.footer-icons2{

    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    width: 100%;
    color: white;
    margin: auto;
    position:relative;
    bottom:5px;
}
.footer-icons2 li{
    display:inline;
    padding: 10px;
}

.copyright2{

    color: white;
    margin: auto;
    font-weight: 300;
    font-size: .7rem;
}



}

@media(min-width: 520px){
.footer-container2{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color:#3D3D3D;
    height:120px;
}

.logo-footer{
    text-align: center;
    width: 100%;

}

.logo-footer img{

    width: 20%;
    
}
.footer-icons2{

    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    width: 100%;
    color: white;
    margin: auto;
    position:relative;
    bottom:5px;
}
.footer-icons2 li{
    display:inline;
    padding: 10px;
}

.copyright2{

    color: white;
    margin: auto;
    font-weight: 300;
    font-size: .7rem;
}



}

@media(min-width: 1280px){

.footer-container2{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    width: 100%;
    background-color:#3D3D3D;
    height:230px;
}

.logo-footer{
    text-align: center;
    width: 100%;

}

.logo-footer img{

    width: 10%;
    
}

.footer-icons2{

    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    width: 100%;
    color: white;
    margin: auto;
    position:relative;
    bottom:20px;
}
.footer-icons2 li{
    display:inline;
    padding: 10px;
}

.copyright2{

    color: white;
    margin: auto;
    font-weight: 300;
    font-size: 1.1rem;
}


}

/* ---------------------------------------------------------------------------------- */
/* --------------------- TERMINAN NUEVOS QUERIES------------------------------- */
/* ---------------------------------------------------------------------------------- */

.header-container {
    height: 100px;
}
.main-navbar li {
    list-style: none;
}
.top-container {
    background-color: #F2F0D5;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    max-width: 1200px;
    height: 100px;
}
.bottom-container {
    margin-top: 80px;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
}
.logo {
    width: 150px;
    padding-left: 10px;
}
.header-icons {
    font-size: 20px;
    color: #686868;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
.search-logo, .user-logo, .cart-logo {
    padding-left: 3px;
    text-align: center;
}
.fa-shopping-cart, .fa-user, .fa-search{
    color: #666;
}
.search-logo:hover .fa-search, .user-logo:hover .fa-user, .cart-logo:hover .fa-shopping-cart {
    background-color: #686868;
    color: white;
    font-size: 25px;
    padding-left: 3px;
    transition: all 450ms;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}
.left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.burger-menu i {
    color: #686868;
    font-size: 30px;
}
.slider .img3 {
    width: 100%;
    position: relative;
}
.next-prev {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 24%;
    z-index: 5;
    font-size: 30px;
    width: 100%;
    opacity: 0.5;
    padding: 0 5%;
}
.navbar {
    display: none;
}
.colors{
    color: rgba(90, 75, 10, 0.534);
    text-decoration: underline;
}
.img-cart{
    width: 150px;
    height: 200px;
}
.img-cart-container{
    display: flex;
    justify-content: center;
}
@media (min-width: 481px) {
    .product-article {
        width: 40%;
    }
}
@media (min-width: 769px) {
    .email-ofertas{
        margin-top: 60px;
    }
    .burger-menu {
        display: none;
    }
    .logo {
        justify-content: center;
        width: 250px;
        margin-bottom: 15px;
    }
    .top-container {
        flex-direction: column;
        padding: 2% 5%;
        margin: auto;
        height: 15%;
    }
    .logo-nav {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        width: 100%;
    }
    .header-icons {
        width: 15%;
        align-self: flex-end;
        position: absolute;
        top: 45%    
    }
    .navbar {
        display: flex;
        font-family:'Open Sans', sans-serif;
        width: 100%;
        color: #686868;
        margin: auto;
        justify-content: space-between;
        align-items: center;
    }
    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .main-navbar {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .navbar .main-menu {
        margin: 0 10px;
        font-weight: 700;
    }
    .main-menu:hover {
        background-color: #686868;
        color: white;
        transition: all 450ms;
        text-align: center;
        border-radius: 5px;
        padding: 5px;
    }
    .middle-bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        margin-top: 50px;
        margin: auto;
        max-width: 1280px;
    }
   
}
@media (min-width: 1280px) {
    .header-container {
       display: flex;
       justify-content: center;
    }
}


/* -----------------CSS MAIN----------------------- */

.logo-header{

    /* position: absolute;
    width: 290px;
    height: 84px;
    left: 575px;
    top: 33px; */
    
    font-family: Roboto;
    font-style:normal;
    font-weight:normal;
    font-size: 5rem;
    line-height: 84px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #727272;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 30px;
    
   
}
.backButton{
  
    display: flex;
   flex-wrap: wrap;
   justify-content: left;
    width: 100%;
    height: 33px;
    font-family: Roboto;
    font-style: normal;
    font-weight:400;
    font-size:  1.375rem ;
    line-height: 33px;
    color: #727272;
    margin-bottom: 30px;
 
}

.backButton a{

    text-decoration: none;
    color: #727272;
}

.backButton a:hover{
    font-weight:500;
}

.headForm{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 100%;
    height: 81px;
    margin-bottom: 2%;
   
}

.tituloForm{

    
    width: 100%;
    font-family: Roboto;
    font-weight: 500;
    font-size: 2rem;
    line-height: 43px;
    /* display: flex;
    align-items: center; */
    
    color: #7D7D7D;

}

.ayudaCrearProducto{
 font-family: Roboto;
font-style:normal;
font-style: light;
font-weight: 300;
font-size: 1.375rem;
line-height: 34px; 
/* display: flex;
align-items: center; */

color: #7D7D7D;

}


form{
    width: 100%;
   
}

.menuContainer{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    height:  32.5625rem ;

    /* margin-top: 12%; */
  
}

/* -----------------------LEFT CONTAINER------------------------ */


.leftContainer{
    /* position: absolute;
   
    left: 120px;
    top: 526px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    
}

.left-img-container{


width: 100%;
overflow: hidden;
padding-top: 5px;;
/* height: 151px; */
border-radius: 4.08353px;
box-shadow: 0.816707px 2.04177px 6.1253px 2.04177px rgba(0, 0, 0, 0.04);
margin: auto;

/* left: 122px;
top: 526px; */
}

.leftContainer img:hover{
    cursor: pointer;
    box-shadow: 0px 4px 12px 3px #c7c7c76e;
}


/* -----------------------MIDDLE CONTAINER------------------------ */

.middleContainer {


   display: flex;
   flex-wrap: nowrap;
  
   justify-content: center; 
   align-items: center;
     width: 45%;
     height:inherit;
    order: 1;
    
}

.middle-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: inherit;
    box-shadow: 2px 5px 15px 5px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    overflow: hidden;
   
    }

    .middle-img-container:hover{
        box-shadow: 4px 8px 10px #c7c7c7;
    }

    .middle-img-container img{
   
       
        margin: auto;
            /* position: relative;
            right: 300px;
            width: 100%;
            bottom: 80px;
            height: auto;
  */
        
    }

    .middle-img-container img:hover{
        cursor: pointer;
        
    }
       

    .img-checkbox{

        display:none;
    }



/* -----------------------RIGHT CONTAINER------------------------ */

    .rightContainer{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column; 
        /* position: absolute; */
        width: 30%;
        height: 521px;
       /* left: 897px;
        top: 476px; 

     */
        order: 2;
        /* margin-left: 40px; */
    }

    .input-product-name {

    display: flex;
    flex-wrap: wrap;
    
    width: 100%;
    height: 50px;
    font-family: Roboto;
    font-style:medium;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 43px;
    /* display: flex;
    align-items:flex-start; */
     border: none;
     border-bottom: 2px solid #aaaaaa;
     color: #727272;
     
     
    }
    

    .input-product-name:focus, .input-product-name:active ,.input-product-name:hover{

        outline: none;
        background-color: rgb(247, 247, 247);
        font-style:medium;
        font-weight: 500;
        color: #727272;
        cursor: pointer;
         
        }

        .input-product-price{

            width: 80%;
            height: 40px;
            font-family: Roboto;
            font-style:normal;
            font-weight: 400;
            font-size: 1.5em;
            line-height: 43px;
            /* display: flex;
            align-items:flex-start; */
            border: none;
            background-color: #72727200;
            color: #727272;
             
            }  

        .input-product-price:hover,.input-product-price:focus, .input-product-price:active{

            outline: none;
            /* background-color: rgb(247, 247, 247); */
           
            color: #727272;
            
        }

        
    .contenedor-precio{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
        height: 40px;
        border-bottom: 2px solid #aaaaaa;
        color: #727272;
        padding-top: 10px;
        cursor: pointer;

    }
    .contenedor-precio:hover{
        background-color: rgb(247, 247, 247);
        

    }
   .signo-precio{

    display: flex;
    flex-wrap: nowrap;
    width: 10%;
    font-family: Roboto;
    font-style:normal;
    font-weight: 400;
    font-size: 1.5em;
    color: #727272;
   }
    .product-description{

        display: flex;
        width: 100%;
        
        font-family: Roboto;
        font-style: light;
        font-weight: 300;
        font-size: 1.5em;
        line-height: 34px;
        color: #7D7D7D;
        margin-top: 20px;
       
    }

    .input-description{
        /* display: flex; */
        width: 100%;
        height: 50%;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 1em;
        line-height: 19px;
        display: flex;
        color: #727272;
        border: none;
        outline: none;
        margin-top: 10px;
        background-color: rgb(247, 247, 247);
        /* border-bottom: 2px solid #aaaaaa; */
        
        

    }

    .input-description:active, .input-description:focus , .input-description:hover{
        background-color: rgb(226, 226, 226);
        outline: none;
        border: none;
        color: #727272;
        
    }

    .input-product-size{
            display: flex;
            flex-wrap: nowrap;
            align-content: center;
            width: 100%;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 1.5em;
            line-height: 34px;
            color: #7D7D7D;
            margin-top: 30px;
            border: none;
            outline: none;
            border-bottom: 2px solid #aaaaaa;

    }

    .input-product-size:active,.input-product-size:hover,.input-product-size:focus{

        background-color: rgb(247, 247, 247);
        outline: none;
        border: none;
        border-bottom: 2px solid #aaaaaa;
    }
    .checkbox{

        display: none;
    }

    .sizeContainer{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        /* background-color: blueviolet; */
        width: 80%;
       
        z-index: 2;
        bottom: 6.5%;

    }
    .check-product-size{

        font-weight: 300;
        font-size: 1em;

    }

    .check-product-size:hover,.check-product-size:active{

        font-weight: 500;
        line-height: 34px;
        color: rgb(95, 95, 95);
        cursor: pointer;
      
    }

   

    /* COLORES---------- */

    .input-product-color{
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 1.5em;
      
        color: #7D7D7D;
        margin-top: 20px;
        border: none;
        outline: none;
        border-bottom: 2px solid #aaaaaa;

}
    .colorContainer{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
       
        width: 75%;
        align-self: flex-end;
        position: relative;
        z-index: 1;
        bottom: 7%;

    }

    .white{
        width: 1em;
        height: 1em;
        background-color: rgb(255, 255, 255); 
        border-radius: 100%;
        box-shadow: 0px 2px 5px 0px #a3a3a3bb;
      
    }
    .white:hover{
        cursor: pointer;
        background-color: rgb(250, 250, 250); 
        box-shadow: 0px 0px 0px 0px #b6b6b600;
    }
    .red{
      
        width: 1em;
        height: 1em;
        background-color: #FF7D7D; 
        border-radius: 100%;
        box-shadow: 0px 2px 5px 0px #a3a3a3bb;
      
    }
    .red:hover{
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px #b6b6b600;
    }
    .blue{
        width: 1em;
        height: 1em;
        background-color: #71AAFF;
        ; 
        border-radius: 100%;
        box-shadow: 0px 2px 5px 0px #a3a3a3bb;
      
    }
    .blue:hover{
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px #b6b6b600;
    }
    .green{
        width: 1em;
        height: 1em;
        background-color: #91E08A;
        ; 
        border-radius: 100%;
        box-shadow: 0px 2px 5px 0px #a3a3a3bb;
    }

    .green:hover{
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px #b6b6b600;
    }
    .yellow{
        width: 1em;
        height: 1em;
        background-color: #FFF1A5; 
        border-radius: 100%;
        box-shadow: 0px 2px 5px 0px #a3a3a3bb;
      
    }
    .yellow:hover{
        cursor: pointer;
        box-shadow: 0px 0px 0px 0px #b6b6b600;
    }


.input-product-color:active,.input-product-color:hover,.input-product-color:focus{

    background-color: rgb(247, 247, 247);
    outline: none;
    border: none;
    border-bottom: 2px solid #aaaaaa;
}


/* CATEGORIAS------------- */
.input-product-category{

    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 34px;
    color: #7D7D7D;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    outline: none;
    border-bottom: 2px solid #aaaaaa;
    

}

.input-product-category:active,.input-product-category:hover,.input-product-category:focus{

background-color: rgb(247, 247, 247);
outline: none;
border: none;
border-bottom: 2px solid #aaaaaa;
cursor: pointer;
}

.categoryContainer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 35px;
    width: 100%;
  
}
.categoryContainer select{
  
    border: none;
    outline: none;
    
    font-family: Roboto;
    font-style: normal;
    font-weight:300;
    font-size: 1em;
    text-align: center;
    color: #7D7D7D;
    width: 100%;
    background-color: #ffffff00;
    cursor: pointer;
    
}


    /*-------------------------- BTN------------- */

    .btn-add{

        width: 100%;
        height: 5em;
        background: #616161;
        box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.2);
        border: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 1.2em;
        line-height: 19px;
        color: #FFFFFF;
    }
    .btn-add:hover{
        cursor:pointer;
        box-shadow: 0px 4px 12px 3px #c7c7c76e;
    }

/* QUERIES ---------*/

@media (min-width:0px){
  
    html{
        font-size: 14px;
    }

    header{
     
     height: 6.25rem;

     }

    main{
        width: 90%;
     
    }

    .backButton{
        font-size:  1em ;
    }

    .tituloForm{

        font-size: 1.5rem;
     
    }


    .menuContainer{
        display: flex;
        flex-wrap:wrap;
       
        align-items: center;
        justify-content: space-between;
        margin: auto;
        width: 100%;
        height:  32.5625rem ;
        margin-bottom: 25px;
    
    }

    .leftContainer{
        display:none;
    }

    .middleContainer {

        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        align-items: center;
          width: 80%;
          height:80%;
         order: 1;
         margin: auto;
         
     }

     .middle-img-container img{
   
        width: 100%;
        margin: auto;

    }

     .rightContainer{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column; 
        /* position: absolute; */
        width: 90%;
        justify-content: center;
         margin: auto;
         margin-bottom: 100px;
        order: 2;
       
    }
    /* body{
        margin-bottom: 15px;
    } */
  

}


@media (min-width:769px){

    .leftContainer{
        display:none;
    }

    main{

        width: 70%;
    }

    .menuContainer{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        margin: auto;
        width: 100%;
        height:  85% ;
    
        /* margin-top: 12%; */
      
    }
    .middleContainer{
    display: flex;
    
     justify-content: space-around; 
     align-items: center;
     width: 45%;
     height: 100% ;
     margin: auto;
    }

    .middle-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
       
        box-shadow: 2px 5px 15px 5px rgba(0, 0, 0, 0.04);
        border-radius: 10px;
        overflow: hidden;
       
        }
    .middle-img-container img{
   
        width: 100%;
        margin: auto;

    }
    .rightContainer{
        width:45%;
    }
  
        /* margin-top: 12%; */
      
    }

  
 @media (min-width:1280px){

    html{
        font-size: 16px;
    }
    .leftContainer{
        display:flex;
    }
    main{
        width: 50%;
     
    }
    .menuContainer{
        display: flex;
        flex-wrap:nowrap;
       
        align-items: center;
        justify-content: space-between;
        margin: auto;
        width: 100%;
        height:  32.5625rem ;
        
    }
    .middleContainer {

       
        flex-wrap: nowrap;
        justify-content: center; 
        align-items: center;
          width: 40%;
          height:inherit;
         order: 1;
         margin: auto;
         
     }
     .middle-img-container img{
   
        margin: auto;
         
    }
    .rightContainer{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column; 
        width: 30%;
        height: 521px;
        order: 2;
       
    }
   

   
    


} 