@import url("/css/normalize.css");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.main-navbar li {
    list-style: none;
}



.top-container {
    background-color: #f2f0d5;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    width: 150px;
    padding-left: 10px;
}

.header-icons {
    font-size: 20px;
    color: #686868;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search, .user, .cart {
    padding-left: 3px;
}

.left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.burger-menu i {
    color: #686868;
    font-size: 30px;
}

.slider .img3 {
    width: 100%;
}

.navbar {
    display: none;
}



/* ---------- Version Tablet ----------------------------------------------------------------------------------------------- */

@media (min-width: 481px) {

}

/* ---------- Version Laptop ----------------------------------------------------------------------------------------------- */

@media (min-width: 769px) {
    .burger-menu {
        display: none;
    }

    .logo {
        justify-content: center;
        width: 50%;
        margin-bottom: 15px;
    }

    .top-container {
        flex-direction: column;
        padding: 2% 5%;
    }

    .logo-nav {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        width: 100%;
    }

    .header-icons {
        width: 15%;
        display: flex;
        flex-wrap: wrap;
        align-self: flex-end;
        
    }

    .navbar {
        display: flex;
        font-family: roboto;
        width: 100%;
        color: #686868;
        margin: auto;
        justify-content: space-between;
        align-items: center;

    }

    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .main-navbar {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .navbar .main-menu {
        margin: 0 10px;
        font-weight: 700;
    }


}

/* ---------- Version Monitor ----------------------------------------------------------------------------------------------- */

@media (min-width: 1280px) {
    .top-container {
        max-width: 1280px;
    }

    .header-container {
        background-color: #f2f0d5;
    }
}