@import url("/css/normalize.css");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@100;300;400;500&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');



* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

/* -----------NUEVO HEADER-------- */

body{
    font-family:roboto,sans-serif;
}

.profile-pic {
    border-radius: 100%;
}

.ul-header2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.name-img{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container-header{

    width : 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
   
    position: fixed;
    top:0;
    z-index: 3;
    background-color : rgb(61, 61, 61);
    height: 180px;
    margin:  auto;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.253);
     
}

.main-navbar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: auto;
    color: rgb(230, 230, 230);
   

}
.main-navbar li{
    display: inline;
    padding:.9rem;
    margin: auto;
    list-style: none;
    color: rgb(230, 230, 230);
    font-weight: 300;
    font-size: 1.1rem;
    transition: all 0.4s;
}
.main-navbar li:hover{
    font-weight: 500;
   
}

.logo-main-navbar{

    width: 100%;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    text-align: center;

}
 .logo-main-navbar img{

    width: 60%;
} 



/* -----------NUEVO PRODUCTS-------- */


.products-container{

    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 90%;
    margin: auto;
    position:relative;
    bottom:20px;
}

.categories{

    display: flex;
    width:100%;
    color: #3D3D3D;
    font-size: 3rem;
    margin-top: -20px;
    margin-bottom: 50px;
    justify-content:left;
}

.product2{

    width: 400px;
    height:630px;
    border-radius:2%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    overflow: hidden;
    transition: all 400ms;
    
}

.product2:hover{
    box-shadow: 2px 7px 5px rgba(0, 0, 0, 0.253);
}
/* .product-link{
    width: 280px;
    height:380px;
    display: flex;
    overflow: hidden;
} */


.category-container{
    width: 100%;
    /* height:50px; */
    color: #3D3D3D;
    background-color: white;
    align-self: flex-start;
    display: flex;
    align-items:center;
    padding-left:10px;
    font-size: 1rem;
    position: relative;
    z-index: 1;
    
}

.img-container{

    background-color:yellowgreen;
    display: flex;
    justify-content:center;
    
    width: 100%;
    align-self: flex-start;
    height: inherit;
    
    
}

.img-container img{

    overflow: hidden;
    width: 100%;
    position: relative;
    bottom: 5%;
}

.product-info{

    display: flex;
    align-items:center;
    flex-wrap: wrap;
    width: 100%;
    background-color:white;
    height: 70px;
    padding: 0px 20px;
    position: relative;
    bottom: 25%;
    z-index: 2;
   
}

.product-info-lef-container{

display: flex;
flex-wrap: wrap;
width: 60%;
justify-content:left;
}

.product-info-right-container{

display: flex;
flex-wrap: nowrap;
width: 40%;
justify-content:right;
}
.product-price{

    font-size: 1.3rem;
    color: #3D3D3D;
    font-weight:900;
}
.product-name{
    width: 100%;
    font-size: 1.3rem;
  
}

.product-discount{
    font-size: 1.3rem;
    font-weight: bold;
    
    color: rgb(54, 202, 138)
   
}


/* -----------NUEVO PRODUCTS-------- */

/* -------Newsletter--------------------------- */
.new-newsletter{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #EDEDED;
    height: 250px;
   
}
.subscribe-newsletter{
    width: 100%;
    text-align: center;
    color:  #3D3D3D;
    font-size: 1.5rem;
    font-weight:600;

}

.newsletter-mail{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width:50%;
    position: relative;
    bottom:10%;
    
}
.newsletter-mail,input, button{

    height:50px;
    border: none;
    
   
}

.newsletter-mail input{

    width: 70%;
    border-radius:  7px 0 0  7px;
}
.newsletter-mail button{
    width: 30%;
    background-color: #3D3D3D;
    color: white;
    border-radius: 0 7px 7px  0;
    cursor: pointer;
}


/* -----------NEW FOOTER------------------ */

.footer-container2{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    width: 100%;
    background-color:#3D3D3D;
    height:230px;
}

.logo-footer{
    text-align: center;
    width: 100%;

}


.footer-icons2{

    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    width: 100%;
    color: white;
    margin: auto;
    position:relative;
    bottom:20px;
}
.footer-icons2 li{
    display:inline;
    padding: 10px;
}

.copyright2{

    color: white;
    margin: auto;
    font-weight: 300;
}

/* ---------------------------------------------------------------------------------- */
/* ---------------------- EMPIEZAN NUEVOS QUERIES------------------------------- */
/* ---------------------------------------------------------------------------------- */

/* -----------NUEVO HEADER QUERIES-------- */

@media (min-width: 320px){

    /* body{
        margin:auto;
    } */


    .container-header{

        width : 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        
        position: fixed;
        top: 0px;
        z-index: 3;
        background-color : rgb(61, 61, 61);
        height: 180px;
        margin:  auto;
        box-shadow: 0px 9px 7px rgba(0, 0, 0, 0.253);
        
        
        
        
    }

    .main-navbar{

        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
       
       
        /* text-align: center; */
        
    }
    .logo-main-navbar img{

        width: 40%;
    } 
    .main-navbar ul{
        
        text-align: center;
     
    }

    .main-navbar li{

        /* display: inline; */
        padding:.25rem;
      
        list-style: none;
        color: rgb(230, 230, 230);
        font-weight: 300;
        font-size: 0.75rem;
        
    }

}

@media (min-width: 520px){

    .container-header{

        height: 150px;
     
    }

    .main-navbar{

        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
       
       
        /* text-align: center; */
        
    }
    .logo-main-navbar img{

        width: 50%;
    } 
    .main-navbar ul{
        
        text-align: center;
     
    }

    .main-navbar li{

        /* display: inline; */
        padding:.25rem;
      
        list-style: none;
        color: rgb(230, 230, 230);
        font-weight: 300;
        font-size: 1rem;
        
    }
    

}

/* -------------------1280--------------------- */
@media (min-width: 1280px){

    .container-header{

        width : 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        
        position: fixed;
        top: 0px;
        z-index: 3;
        background-color : rgb(61, 61, 61);
        height: 180px;
        margin:  auto;
        box-shadow: 0px 9px 7px rgba(0, 0, 0, 0.253);
        
        
        
        
    }
    
    .main-navbar{
        display: flex;
        flex-wrap: nowrap;
        justify-content:center;
        margin: auto;
        color: rgb(230, 230, 230);
       
    
    }
    .main-navbar li{
        display: inline;
        padding:.9rem;
        margin: auto;
        list-style: none;
        color: rgb(230, 230, 230);
        font-weight: 300;
        font-size: 1.2rem;
        transition: all 0.4s;
    }
    .main-navbar li:hover{
        font-weight: 500;
       
    }
    
    .logo-main-navbar{
    
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: flex-end;
        text-align: center;
    
    }
     .logo-main-navbar img{
    
        width: 70%;
    } 

}


/* -----------NUEVO BANNER QUERIES---------------------- */
@media(min-width:320px){

    .banner-container{

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:center;
        
        width: 100%;
        height: 150px;
        background-color: red;
        background-image: url(/img/CARROUSEL/img-banner.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        position: relative;
        top: 0px;
        margin: auto;
        margin-top: 140px;
        margin-bottom: 40px;
        
        
    }
    .caja{

        display: flex;
        align-items:center;
        justify-content:space-around;
        width: 100%;
        height: 30px;
        background-color: #3d3d3d79;
        
      
    }
    .caja h1{
        color: rgb(228, 228, 228);
        font-weight: 300;
        font-size:.7rem;
    }


}

@media(min-width:520px){

    .banner-container{

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:center;
        
        width: 100%;
        height: 300px;
        background-color: red;
        background-image: url(/img/CARROUSEL/img-banner.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        position: relative;
        top: 0px;
        margin: auto;
        margin-top: 120px;
        margin-bottom: 60px;
        
        
    }
    .caja{

        display: flex;
        align-items:center;
        justify-content:space-around;
        width: 100%;
        height: 60px;
        background-color: #3d3d3d79;
        gap: 60px;
      
    }
    .caja h1{
        color: rgb(228, 228, 228);
        font-weight: 300;
        font-size:1.5rem;
    }


    .over-img-bar{

        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 60px;
        background-color: #7ccc7c8e;
        position: relative;
        z-index: 1;
         align-self: center;
       
       
    }

    .over-img-bar h1{

        font-size: 1rem ;
        font-weight: 500;
        color: #3D3D3D;
    }

    .arrows-container{

        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        align-items: space-between;
        justify-content:center;
    }

    .left-arrow{

        
        width: 30px;
        height: 30px;
        border-radius:50%;
       display: flex;
       justify-content:center;
       align-items:center;
       color: #3D3D3D;
    } 
    .right-arrow{

        display: flex;
        justify-content:center;
        align-items:center;
        width: 30px;
        height: 30px;
        border-radius:50%;
        color: #3D3D3D;
    }


}

@media(min-width:1280px){

    .banner-container{

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:center;
        
        width: 100%;
        height: 450px;
        background-color: red;
        background-image: url(/img/CARROUSEL/img-banner.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        position: relative;
        top: 0px;
        margin: auto;
        margin-top: 120px;
        margin-bottom: 80px;
        
        
    }
    .caja{

        display: flex;
        align-items:center;
        justify-content:space-around;
        width: 100%;
        height: 60px;
        background-color: #3d3d3d79;
        gap: 60px;
      
    }
    .caja h1{
        color: rgb(228, 228, 228);
        font-weight: 300;
    }

    /* .over-img-bar{

        display: flex;
        align-items: center;
        justify-content:space-around;
        
        width: 100%;
        height: 60px;
        background-color: #7ccc7c8e;
        position: relative;
        z-index: 1;
    
    
    } */

    /* .over-img-bar h1{

        font-size: 1.7rem ;
        font-weight: 600;
        color: #3D3D3D;
    }  */

    /* .arrows-container {

        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        align-items: center;
        justify-content:center;
       
        
    }

    .left-arrow {

      
       display: flex;
       justify-content:center;
       align-items:center;
       color: #3D3D3D;
       height:200px;
    } 
    .right-arrow{

        display: flex;
        justify-content:center;
        align-items:center;
        width: 30px;
        height: 30px;
        border-radius:50%;
        color: #3D3D3D;
    } */


}


/* -----------NUEVO products QUERIES-------- */

@media(min-width: 320px){
    .products-container{

        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        width: 90%;
        margin-bottom: 50px;
       
    }
    .product2{

        width: 230px;
        height:345px;
        border-radius:2%;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        /* margin-right: 10px; */
        margin: 20px 0px;

        overflow: hidden;
        transition: all 400ms;
        
        
    }

    .categories{

        display: flex;
        width: 90%;
        color: #3D3D3D;
        font-size: 2.2rem;
        margin-top: 20px;
        margin-bottom: 30px;
       justify-content:center;
    }
    .category-container{
        width: 100%;
        /* height:50px; */
        color: #3D3D3D;
        align-self: flex-start;
        display: flex;
        align-items:center;
        padding-left:10px;
        font-size: .8rem;
        position: relative;
        height:40px;
        z-index: 1;
        
    }

    .img-container img{

        overflow: hidden;
        width: 100%;
        position: relative;
        bottom: 5%;
    }
    
    .product-info{
    
        display: flex;
        align-items:center;
        flex-wrap: wrap;
        width: 100%;
        background-color:white;
        height: 70px;
        padding: 0px 10px;
        position: relative;
        bottom: 35%;
        z-index: 2;
       
    }
    
    .product-info-lef-container{
    
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content:left;
    }
    
    .product-info-right-container{
    
    display: flex;
    flex-wrap: nowrap;
    width: 40%;
    justify-content:right;
    }
    .product-price{
    
        font-size: 1.3rem;
        color: #3D3D3D;
        font-weight:900;
    }
    .product-name{
        width: 100%;
        font-size: 1rem;
      
    }
    
    .product-discount{
        font-size: 1.1rem;
        font-weight: bold;
        
        color: rgb(54, 202, 138)
       
    }
}

@media(min-width: 520px){
    .products-container{

        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        width: 90%;
        
    }

    .product2{

        width: 210px;
        height:325px;
        border-radius:2%;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        overflow: hidden;
        transition: all 400ms;
        
        
    }
    .categories{

        display: flex;
        width: 90%;
        color: #3D3D3D;
        font-size: 2.2rem;
        margin-top: 20px;
        margin-bottom: 30px;
        justify-content:left;
       
    }
    .category-container{
        width: 100%;
        /* height:50px; */
        color: #3D3D3D;
        
        align-self: flex-start;
        display: flex;
        align-items:center;
        padding-left:10px;
        font-size: .8rem;
        position: relative;
        height:40px;
        z-index: 1;
        
    }

    .img-container img{

        overflow: hidden;
        width: 100%;
        position: relative;
        bottom: 5%;
    }
    
    .product-info{
    
        display: flex;
        align-items:center;
        flex-wrap: wrap;
        width: 100%;
        background-color:white;
        height: 70px;
        padding: 0px 10px;
        position: relative;
        bottom: 37%;
        z-index: 2;
       
    }
    
    .product-info-lef-container{
    
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content:left;
    }
    
    .product-info-right-container{
    
    display: flex;
    flex-wrap: nowrap;
    width: 40%;
    justify-content:right;
    }
    .product-price{
    
        font-size: 1.3rem;
        color: #3D3D3D;
        font-weight:900;
    }
    .product-name{
        width: 100%;
        font-size: 1rem;
      
    }
    
    .product-discount{
        font-size: 1rem;
        font-weight: bold;
        
        color: rgb(54, 202, 138)
       
    }
}

@media(min-width: 720px){
    .products-container{

        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        width: 90%;
        
    }

    .product2{

        width: 210px;
        height:325px;
        border-radius:2%;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        overflow: hidden;
        transition: all 400ms;
        
        
    }
    .categories{

        display: flex;
        width: 90%;
        color: #3D3D3D;
        font-size: 2.2rem;
        margin-top: 20px;
        margin-bottom: 30px;
        justify-content:left;
       
    }
    .category-container{
        width: 100%;
        /* height:50px; */
        color: #3D3D3D;
        
        align-self: flex-start;
        display: flex;
        align-items:center;
        padding-left:10px;
        font-size: .8rem;
        position: relative;
        height:40px;
        z-index: 1;
        
    }

    .img-container img{

        overflow: hidden;
        width: 100%;
        position: relative;
        bottom: 5%;
    }
    
    .product-info{
    
        display: flex;
        align-items:center;
        flex-wrap: wrap;
        width: 100%;
        background-color:white;
        height: 70px;
        padding: 0px 10px;
        position: relative;
        bottom: 37%;
        z-index: 2;
       
    }
    
    .product-info-lef-container{
    
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content:left;
    }
    
    .product-info-right-container{
    
    display: flex;
    flex-wrap: nowrap;
    width: 40%;
    justify-content:right;
    }
    .product-price{
    
        font-size: 1.3rem;
        color: #3D3D3D;
        font-weight:900;
    }
    .product-name{
        width: 100%;
        font-size: 1rem;
      
    }
    
    .product-discount{
        font-size: 1rem;
        font-weight: bold;
        
        color: rgb(54, 202, 138)
       
    }
}

@media(min-width: 1280px){
    

.products-container{

    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 90%;
    /* margin: auto; */
    /* margin-top:300px; */
    
}

.product2{

    width: 320px;
    height:530px;
    border-radius:2%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    overflow: hidden;
   
    margin: 0px 30px;
    margin-bottom: 50px;
  
    transition: all 400ms;
    
}

.product2:hover{
    box-shadow: 2px 7px 5px rgba(0, 0, 0, 0.253);
}


.category-container{
    width: 100%;
    /* height:50px; */
    color: #3D3D3D;
    
    align-self: flex-start;
    display: flex;
    align-items:center;
    padding-left:10px;
    font-size: 1rem;
    font-weight:300;
    position: relative;
    z-index: 1;
    
    
}

.img-container{

    background-color:yellowgreen;
    display: flex;
    justify-content:center;
    width: 100%;
    align-self: flex-start;
    height: inherit;
    

}

.img-container img{

    overflow: hidden;
    width: 100%;
    position: relative;
    bottom: 5%;
}

.product-info{

    display: flex;
    align-items:center;
    flex-wrap: wrap;
    width: 100%;
    background-color:white;
    height: 70px;
    padding: 0px 20px;
    position: relative;
    bottom: 20%;
    z-index: 2;
   
}

.product-info-lef-container{

display: flex;
flex-wrap: wrap;
width: 60%;
justify-content:left;
}

.product-info-right-container{

display: flex;
flex-wrap: nowrap;
width: 40%;
justify-content:right;
}
.product-price{

    font-size: 1.5rem;
    color: #3D3D3D;
    font-weight:900;
}
.product-name{
    width: 100%;
    font-size: 1.3rem;
    color: #3D3D3D;
  
}

.product-discount{
    font-size: 1.5rem;
    font-weight: bold;
    
    color: rgb(54, 202, 138)
   
}


}


/* -----------NUEVO NEWSLETTER QUERIES-------- */


@media(min-width:320px){

.new-newsletter{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #EDEDED;
    height: 170px;
   
}
.subscribe-newsletter{
    width: 80%;
    text-align: center;
    color:  #3D3D3D;
    font-size: 1.1rem;
    font-weight:500;

}

.newsletter-mail{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width:80%;
    position: relative;
    bottom:10%;
    
}
.newsletter-mail,input, button{

    height:35px;
    border: none;
    
   
}

.newsletter-mail input{

    width: 70%;
    border-radius:  7px 0 0  7px;
}
.newsletter-mail button{
    width: 30%;
    background-color: #3D3D3D;
    color: white;
    border-radius: 0 7px 7px  0;
    cursor: pointer;
    font-size: .8rem;
}

}

@media(min-width:520px){

    .new-newsletter{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #EDEDED;
        height: 170px;
       
    }
    .subscribe-newsletter{
        width: 80%;
        text-align: center;
        color:  #3D3D3D;
        font-size: 1.2rem;
        font-weight:500;
    
    }
    
    .newsletter-mail{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        width:80%;
        position: relative;
        bottom:10%;
        
    }
    .newsletter-mail,input, button{
    
        height:35px;
        border: none;
        
       
    }
    
    .newsletter-mail input{
    
        width: 50%;
        border-radius:  7px 0 0  7px;
    }
    .newsletter-mail button{
        width: 30%;
        background-color: #3D3D3D;
        color: white;
        border-radius: 0 7px 7px  0;
        cursor: pointer;
        font-size: .8rem;
    }
    
    }

    @media(min-width:1280px){

        .new-newsletter{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            background-color: #EDEDED;
            height: 250px;
           
        }
        .subscribe-newsletter{
            width: 100%;
            text-align: center;
            color:  #3D3D3D;
            font-size: 1.5rem;
            font-weight:600;
        
        }
        
        .newsletter-mail{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            width:50%;
            position: relative;
            bottom:10%;
            
        }
        .newsletter-mail,input, button{
        
            height:50px;
            border: none;
            
           
        }
        
        .newsletter-mail input{
        
            width: 70%;
            border-radius:  7px 0 0  7px;
        }
        .newsletter-mail button{
            width: 30%;
            background-color: #3D3D3D;
            color: white;
            border-radius: 0 7px 7px  0;
            font-size: 1.25rem;
            cursor: pointer;
        }
        
        
        }


/* -----------NUEVO FOOTER QUERIES---------------------- */

@media(min-width: 320px){
    .footer-container2{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        background-color:#3D3D3D;
        height:120px;
        position: relative;
        bottom: 0px;
    }
    
    .logo-footer{
        text-align: center;
        width: 100%;
    
    }
    
    .logo-footer img{
    
        width: 30%;
        
    }
    .footer-icons2{
    
        display: flex;
        flex-wrap: nowrap;
        justify-content:center;
        align-items: center;
        width: 100%;
        color: white;
        margin: auto;
        position:relative;
        bottom:5px;
    }
    .footer-icons2 li{
        display:inline;
        padding: 10px;
    }
    
    .copyright2{
    
        color: white;
        margin: auto;
        font-weight: 300;
        font-size: .7rem;
    }
    
    

}

@media(min-width: 520px){
    .footer-container2{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        background-color:#3D3D3D;
        height:120px;
    }
    
    .logo-footer{
        text-align: center;
        width: 100%;
    
    }
    
    .logo-footer img{
    
        width: 20%;
        
    }
    .footer-icons2{
    
        display: flex;
        flex-wrap: nowrap;
        justify-content:center;
        align-items: center;
        width: 100%;
        color: white;
        margin: auto;
        position:relative;
        bottom:5px;
    }
    .footer-icons2 li{
        display:inline;
        padding: 10px;
    }
    
    .copyright2{
    
        color: white;
        margin: auto;
        font-weight: 300;
        font-size: .7rem;
    }
    
    

}

@media(min-width: 1280px){
 
    .footer-container2{
        display: flex;
        justify-content:center;
        align-items:center;
        flex-wrap: wrap;
        width: 100%;
        background-color:#3D3D3D;
        height:230px;
    }
    
    .logo-footer{
        text-align: center;
        width: 100%;
    
    }
    
    .logo-footer img{
    
        width: 10%;
        
    }
   
    .footer-icons2{
    
        display: flex;
        flex-wrap: nowrap;
        justify-content:center;
        align-items: center;
        width: 100%;
        color: white;
        margin: auto;
        position:relative;
        bottom:20px;
    }
    .footer-icons2 li{
        display:inline;
        padding: 10px;
    }
    
    .copyright2{
    
        color: white;
        margin: auto;
        font-weight: 300;
        font-size: 1.1rem;
    }
    

}


/* -------------------------------------------------- */
/* ------------------PROFILE QUERIES---------------------- */

@media(min-width:320px){

    

     body{
        font-family:roboto,sans-serif;
        background-color: white;
      
       } 
     .profile-container{

        width:100%;
        background-color: white;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: auto;
        margin-top: 200px;
        margin-bottom: 50px;
        align-items: flex-start;
    } 
 
    .upper-container{
        
        width: 100%;
        height: 450px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items:center ;
        justify-content: center;

    } 

     .upper-container h1{
        font-weight: 400;
        font-size: 1.5rem;
    }

    .upper-container h2{
        color:#3D3D3D;
        font-weight: 500;
        font-size: 1.1rem;
        text-decoration: underline;
        text-align: right;
        transition: all;
    }

    .upper-container h2:hover{
       
        font-weight: 800;
    } 

     .profile-picture-container{

        width: 100%;
        height: 100%;
     
        color:#3D3D3D;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        
    }
     
    .profile-picture{

        width: 200px;
        height: 200px;
        /* background-color: rgb(241, 27, 241); */
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        overflow: hidden;
        align-self: center;
        box-shadow: 3px 7px 7px #3d3d3d44;
        cursor:pointer;
        
    }
    .profile-picture img{

      width:100%;
    }


    .back{

        width: 90%;
        /* background-color: rgb(24, 224, 214); */
        text-align: right;
        font-weight:500;
        align-self: flex-start;
        position: relative;
        right: 0px;
        font-size: 1.3rem ;
        cursor:pointer;
        margin-top: 30px;
     
    }

   .back h2{
        font-weight:500;
        font-size: 1.3rem;
        transition: all;
        list-style: none;
        text-decoration: none;
        color: #3D3D3D;
        text-decoration: underline #3D3D3D 4px ;
        text-align: right;
    }
    .back h2:hover{
        font-weight:900;
    }

    .bottom-container{
        width: 90%;
        /* background-color: rgb(255, 196, 0); */
        height: 70%;
        display: flex; 
        flex-wrap: wrap;
        /* margin: auto; */
        align-self:center;
        align-items:center ;
        justify-content: space-around;
        margin-bottom: 30px;

    }

    .personal-data{
        width: 90%;
        /* background-color: rgb(247, 0, 255); */
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
       align-items: center;
       align-self: flex-start;

    }
    .personal-data-tittle{
        text-align: center;
        font-weight: 500;
        color: #3D3D3D;
    }
    .form-container-input{
    
        width: 100%;
        height: 60px;
        border: none;
        font-size: 1.2rem;
        background-color:#F8F8F8;
        border-radius:5px;
        color: #3D3D3D;
        padding-left: 10px;
        /* cursor:pointer; */
        margin-bottom: 20px;
        }

    .payment-method-container{
        width: 90%;
        /* background-color: rgb(111, 0, 255); */
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        

    }
    .payment-method-tittle{

        text-align: center;
        font-weight: 500;
        color: #3D3D3D;
    }
    .payment-method-cards{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 78px;
        
        background-color: #3D3D3D;
        color: white;
        border-radius:5px;
        text-align: center;
        cursor:pointer;
        margin-bottom: 20px;
    }
    .payment-method-cards h2{
        font-weight: 400;
    }
    .payment-method-MercadoPago-cards{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 78px;
        background-color: #ffffff;
        color: white;
        box-shadow: 3px 7px 7px #3d3d3d44;
        border-radius:5px;
         cursor:pointer;
       
        margin-bottom: 20px;

    }
    .payment-method-MercadoPago-cards img{
        width: 150px;
       
    }

    .crear-tarjeta-container{
    
        display: flex;
        width: 100%;
        align-items:center;
        justify-content: right;
        color: #3D3D3D;
        font-size:1 rem;
    
    }
   
    .create-credit-card{
        display: flex;
        color: #3D3D3D;
        font-weight: 400;
        text-decoration: underline #3D3D3D 4px ;
        margin-top:30px;
        margin-bottom: 40px;
    }
    .create-credit-card:hover{
    
     font-weight: 900;
    }



}



@media(min-width:1280px){

    body{
        font-family:roboto,sans-serif;
        background-color:#eeeeee;
      
       }
     .profile-container{

        width: 60%;
        background-color: white;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: auto;
        margin-top: 230px;
        margin-bottom: 100px;
        align-items: flex-start;
    } 
    
     .upper-container{
        width: 100%;
        height: 300px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
       margin-top: 30px;
       margin-bottom: 40px;
        align-items:center ;
        justify-content: space-between;

    }

    .upper-container h1{
        font-weight: 400;
        font-size: 1.5rem;
    }
    .upper-container h2{
        color:#3D3D3D;
        font-weight: 500;
        font-size: 1.1rem;
        text-decoration: underline;
        transition: all;
    }
    .upper-container h2:hover{
       
        font-weight: 800;
    } 
 
    .profile-picture-container{

        width: 50%;
        height: 100%;
    
        color:#3D3D3D;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        
    } 
     .profile-picture{

        width: 200px;
        height: 200px;
    
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        overflow: hidden;
        align-self: center;
        box-shadow: 3px 7px 7px #3d3d3d44;
        cursor:pointer;
        
    } 

     .profile-picture img{

      width:100%;
    } 


    .back{

        width: 40%;
        text-align: right;
        font-weight:500;
        align-self: flex-start;
        position: relative;
        right: 45px;
        font-size: 1.3rem ;
        cursor:pointer;
        margin-top: 30px;
     
    } 



   .back h2{
        font-weight:500;
        font-size: 1.3rem;
        transition: all;
        list-style: none;
        text-decoration: none;
        color: #3D3D3D;
        text-decoration: underline #3D3D3D 4px ;
    }
    .back h2:hover{
        font-weight:900;
    }

    .bottom-container{
        width: 100%;
       
        height: 70%;
        display: flex; 
        flex-wrap: wrap;
     
        align-self:center;
        align-items:center ;
        justify-content: space-around;
        margin-bottom: 30px;

    }

    .personal-data{
        width: 40%;
      
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
       align-items: center;
       align-self: flex-start;

    }
    .personal-data-tittle{
        text-align: center;
        font-weight: 500;
        color: #3D3D3D;
    }
    .form-container-input{
    
        width: 100%;
        height: 60px;
        border: none;
        font-size: 1.2rem;
        background-color:#F8F8F8;
        border-radius:5px;
        color: #3D3D3D;
        padding-left: 10px;
      
        margin-bottom: 20px;
        }

    .payment-method-container{
        width: 40%;
        
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        

    }
    .payment-method-tittle{

        text-align: center;
        font-weight: 500;
        color: #3D3D3D;
    }
    .payment-method-cards{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 78px;
        
        background-color: #3D3D3D;
        color: white;
        border-radius:5px;
        text-align: center;
        cursor:pointer;
        margin-bottom: 20px;
    }
    .payment-method-cards h2{
        font-weight: 400;
    }
    .payment-method-MercadoPago-cards{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 78px;
        background-color: #ffffff;
        color: white;
        box-shadow: 3px 7px 7px #3d3d3d44;
        border-radius:5px;
         cursor:pointer;
       
        margin-bottom: 20px;

    }
    .payment-method-MercadoPago-cards img{
        width: 150px;
       
    }

    .crear-tarjeta-container{
    
        display: flex;
        width: 100%;
        align-items:center;
        justify-content: right;
        color: #3D3D3D;
        font-size:1 rem;
    
    }
   
    .create-credit-card{
        display: flex;
        color: #3D3D3D;
        font-weight: 400;
        text-decoration: underline #3D3D3D 4px ;
        margin-top:30px;
        margin-bottom: 40px;
    }
    .create-credit-card:hover{
    
     font-weight: 900;
    }

}

/* ---------------------------------------------------------------------------------- */
/* --------------------- TERMINAN NUEVOS QUERIES------------------------------- */
/* ---------------------------------------------------------------------------------- */

