@import url("/css/normalize.css");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

.main-navbar li {
    list-style: none;
}



.top-container {
    background-color: #f2f0d5;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    width: 150px;
    padding-left: 10px;
}

.header-icons {
    font-size: 20px;
    color: #686868;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.search, .user, .cart {
    padding-left: 3px;
}

.left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.burger-menu i {
    color: #686868;
    font-size: 30px;
}

.slider .img3 {
    width: 100%;
}

.navbar {
    display: none;
}


.footer-container {
    padding: 5%;
    background-color: #b6dbcb;
    font-family: 'Roboto';
    color: #686868;
}

.footer-icons {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    justify-content: space-between;
}

.top-footer {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;   
    color: #686868; 
}

.logo-footer {
    padding: 0;
    margin: 10px;
}

.empresa, .compras {
    text-align: center;
    margin-top: 20px;
}

h3 {
    margin: 19px 0 10px 0;
}

.empresa il, .compras il {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 1.9;
    margin: 0;
    padding-left: 0;
}

.lista-empresa, .lista-compras {
    margin: 0;
    padding: 0;
}

.der {
    padding-left: 25px;
}

.copyright {
    font-size: 10px;
    margin-top: 25px;
}

main{
    font-family: "roboto";
}

.categories{
    color: rgb(68, 68, 68);
}

.products{
    width: 80%;
    margin: auto;
}

article{
    justify-self: center;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin-top: 8%;
    margin-bottom: 8%;
}
.product-description{
    display:flex;
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
    
}

.prices{
    color: #7ccc7c; 
    font-weight: 400;
    margin-right: 80px;
}

.product-name{
    font-weight: 600;
    margin-left: 20px;
    color: #666;
}

.free-shipping{
    align-self: center; /* le agregue un camion de envio gratis, si no gusta lo sacamos, lo agrego porque creo que es un dato importante*/
    color: #7ccc7c;
    margin-right: 20px;
}

.newsletter{
    background-color:#f2f0d5;
    padding-top: 7%;
    padding-bottom: 7%;
    margin: auto;
    margin-bottom: 0;
}

.newsletter-text{
    width: 324px;
    margin: auto;
    font-weight: 800;
    font-size: 24px;
    font-family: "cursive";

}

.suscribe{
    width: 150px;
    background-color: #dbc0b6;
    border-radius: 7px;
    font-size: 24px;
    font-weight: 300;
    padding: 15px;
}

.formulario-suscribe{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.search{
    align-self: center;
}

#search{
    width: 220px;
    height: 25px;
}
/* ---------- Version Tablet ----------------------------------------------------------------------------------------------- */

@media (min-width: 481px) {

}

/* ---------- Version Laptop ----------------------------------------------------------------------------------------------- */

@media (min-width: 769px) {
    .burger-menu {
        display: none;
    }

    .logo {
        justify-content: center;
        width: 50%;
        margin-bottom: 15px;
    }

    .top-container {
        flex-direction: column;
        padding: 2% 5%;
    }

    .logo-nav {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        width: 100%;
    }

    .header-icons {
        width: 15%;
        display: flex;
        flex-wrap: wrap;
        align-self: flex-end;
        
    }

    .navbar {
        display: flex;
        font-family: 'Roboto';
        width: 100%;
        color: #686868;
        margin: auto;
        justify-content: space-between;
        align-items: center;
    }

    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .main-navbar {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .navbar .main-menu {
        margin: 0 10px;
        font-weight: 700;
    }

    .middle-bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        margin-top: 50px;
        margin: auto;
        max-width: 1280px;
    }

    .lista-compras, .lista-empresa, h3 {
        text-align: left;
        display: flex;
        flex-wrap: wrap;
    }

}

/* ---------- Version Monitor ----------------------------------------------------------------------------------------------- */

@media (min-width: 1280px) {
    .top-container {
        max-width: 1280px;
    }

    .header-container {
        background-color: #f2f0d5;
    }
}