    @import url("/css/normalize.css");
    @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@100;300;400;500&family=Roboto:wght@100&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
    * {
        box-sizing: border-box;
        margin: 0px;
         padding: 0px;
         text-decoration: none;
             list-style: none;
    }
   /* -----------NUEVO HEADER-------- */

body{

    font-family:roboto,sans-serif;
   
    list-style: none;

    background-color:#eeeeee;

}

.form-container-input:focus{
    
  
    outline: 2px solid rgb(70, 170, 228);

    }
    .input-data-wrong{
    
        outline: 2px solid rgb(245, 60, 60);
       
        
    }
    .text-danger{
        
        color:rgb(245, 60, 60);
        text-align: right;
        margin-bottom: 25px;
        margin-top: -15px;
        font-size:1.2rem;
        
    }
    

a{
    list-style: none;
    color: #3D3D3D;
}
  
.container-header{

    width : 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
   
    position: fixed;
    top:0;
    z-index: 3;
    background-color : rgb(61, 61, 61);
    height: 40%;
    margin:  auto;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.253);
     
}

.main-navbar{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: auto;
    color: rgb(230, 230, 230);
    width:100%;
   

}
.main-navbar li{
    display: inline;
    padding:.9rem;
    margin: auto;
    list-style: none;
    color: rgb(230, 230, 230);
    font-weight: 300;
    font-size: 1.1rem;
    transition: all 0.4s;
}
.main-navbar li:hover{
    font-weight: 500;
   
}

.logo-main-navbar{

    width: 100%;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    text-align: center;

}
 .logo-main-navbar img{

    width: 60%;
} 

.search-bar{
    display: flex;
    flex-wrap: nowrap;
    width: 40%;
    height:40px;
    justify-content:center;
    border: none;
    

   
}
.ul-header2{
   display:flex;
   width:50%;
    height:70px;
    justify-content: center;
    gap:20px;
    align-items: center;
  
    
    
}
.ul-header2 li{
    width: 100px;
  
}

.pass-eye-container{

    display:flex;
    width: 100%;
    position:relative;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    flex-direction: row-reverse

}

    #password-icon{
    
        display: flex;
        color: rgb(94, 94, 94);
        position: absolute;
        z-index: 1;
        right:10%;
        bottom:50%;
        cursor: pointer;
       
    }
    #password-repeat-icon{
    
        display: flex;
        color: rgb(94, 94, 94);
        position: absolute;
        z-index: 1;
        right:10%;
        bottom:50%;
        cursor: pointer;
       
    }
    


/* -----------BODY -------- */

.remember-user{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 5%;
    cursor: pointer;
    font-size: 1.3rem;
    color: #3D3D3D;
}

.remember-user-checkbox {

    margin-right: 10px;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    background-color:#F8F8F8;
    border-radius:5px;
    border: none;
    font-size: 1rem;
    color: #3D3D3D;
    display: inline;
    
}


/* -----------NEW FOOTER------------------ */

.footer-container2{
display: flex;
justify-content:center;
align-items:center;
flex-wrap: wrap;
width: 100%;
background-color:#3D3D3D;
height:230px;
}

.logo-footer{
text-align: center;
width: 100%;

}


.footer-icons2{

display: flex;
flex-wrap: nowrap;
justify-content:center;
align-items: center;
width: 100%;
color: white;
margin: auto;
position:relative;
bottom:20px;
}
.footer-icons2 li{
display:inline;
padding: 10px;
}

.copyright2{

color: white;
margin: auto;
font-weight: 300;
}

/* ---------------------------------------------------------------------------------- */
/* ---------------------- EMPIEZAN NUEVOS QUERIES------------------------------- */
/* ---------------------------------------------------------------------------------- */

/* -----------NUEVO HEADER QUERIES-------- */

@media (min-width: 320px){

    /* body{
        margin:auto;
    } */



    .container-header{

        width : 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        
        position: fixed;
        top: 0px;
        z-index: 3;
        background-color : rgb(61, 61, 61);
        height: 180px;
        margin:  auto;
        box-shadow: 0px 9px 7px rgba(0, 0, 0, 0.253);
        
        
        
        
    }

    .main-navbar{

        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
       
       
        /* text-align: center; */
        
    }
    .logo-main-navbar img{

        width: 40%;
    } 
    .main-navbar ul{
        
        text-align: center;
     
    }

    .main-navbar li{

        /* display: inline; */
        padding:.25rem;
      
        list-style: none;
        color: rgb(230, 230, 230);
        font-weight: 300;
        font-size: 0.75rem;
        
    }

    .main-search-bar{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        justify-content:center;
        /* background-color: #3D3D3D;
        color:red; */
    }
    .search-bar{
        display: flex;
        flex-wrap: nowrap;
        width: 70%;
        justify-content:center;
        border: none;
        
         /* background-color: #e2e2e2; */
       
    }
    .search-bar input{
        width: 60%;
        border: none;
        /* border-radius: 50%; */
        border-radius:  5px 0 0  5px;
      
    }
    .search-bar button{
        width:40%;
        border: none;
        background-color: #e2e2e2;
        /* border-radius: 50%; */
        border-radius: 0 5px 5px  0;
      
        cursor: pointer;
    }


    .main-navbar li{
        display: grid;
     
        margin: auto;
        list-style: none;
        color: rgb(230, 230, 230);
        font-weight: 300;
        font-size: 1rem;
        transition: all 0.4s;
    }

}

@media (min-width: 520px){


   
    .container-header{

        height: 150px;
     
    }

    .main-navbar{

        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
       
       
        /* text-align: center; */
        
    }
    .logo-main-navbar img{

        width: 50%;
    } 
    .main-navbar ul{
        
        text-align: center;
     
    }

    .main-navbar li{

        /* display: inline; */
   
      
        list-style: none;
        color: rgb(230, 230, 230);
        font-weight: 300;
        font-size: 1rem;
        
    }

    .main-search-bar{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        justify-content:center;
        /* background-color: #3D3D3D;
        color:red; */
    }
    .search-bar{
        display: flex;
        flex-wrap: nowrap;
        width: 70%;
        justify-content:center;
        border: none;
        
         /* background-color: #e2e2e2; */
       
    }
    .search-bar input{
        width: 60%;
        border: none;
        /* border-radius: 50%; */
        border-radius:  5px 0 0  5px;
      
    }
    .search-bar button{
        width:40%;
        border: none;
        background-color: #e2e2e2;
        /* border-radius: 50%; */
        border-radius: 0 5px 5px  0;
      
        cursor: pointer;
    }

   
    .main-navbar li{
        display: grid;
       
        margin: auto;
        list-style: none;
        color: rgb(230, 230, 230);
        font-weight: 300;
        font-size: 1rem;
        transition: all 0.4s;
    }
    

}


@media (min-width: 720px){

    .container-header{

        width : 100%;
        display: flex;
        
        justify-content:center;
        align-items: center;
        align-content:center;
        
        position: fixed;
        top: 0px;
        z-index: 3;
        background-color : rgb(61, 61, 61);
        height: 200px;
        margin:  auto;
        box-shadow: 0px 9px 7px rgba(0, 0, 0, 0.253);
        
        
    }
    
    .main-navbar{
       
        justify-content:center;
        margin: auto;
        /* background-color:red; */
        color: rgb(230, 230, 230);
       

    }
  
    .search-bar{
        display: flex;
        flex-wrap: nowrap;
        width: 50%;
        justify-content:center;
        border: none;
        
         /* background-color: #e2e2e2; */
       
    }
    .search-bar input{
        width: 70%;
        border: none;
        /* border-radius: 50%; */
        border-radius:  7px 0 0  7px;
      
       
       
    }
    .search-bar button{
        width:30%;
        border: none;
        background-color: #e2e2e2;
        /* border-radius: 50%; */
        border-radius: 0 7px 7px  0;
      
        cursor: pointer;
    }


}

@media (min-width: 1020px){

    .container-header{

        width : 100%;
        display: flex;
        
        justify-content:center;
        align-items: center;
        align-content:center;
        
        position: fixed;
        top: 0px;
        z-index: 3;
        background-color : rgb(61, 61, 61);
        height: 200px;
        margin:  auto;
        box-shadow: 0px 9px 7px rgba(0, 0, 0, 0.253);
        
        
    }
    
    .main-navbar{
       
        justify-content:center;
        margin: auto;
        /* background-color:red; */
        color: rgb(230, 230, 230);
       

    }
  
    .search-bar{
        display: flex;
        flex-wrap: nowrap;
        width: 40%;
        justify-content:center;
        border: none;
        
         /* background-color: #e2e2e2; */
       
    }
    .search-bar input{
        width: 70%;
        border: none;
        /* border-radius: 50%; */
        border-radius:  7px 0 0  7px;
      
       
       
    }
    .search-bar button{
        width:30%;
        border: none;
        background-color: #e2e2e2;
        /* border-radius: 50%; */
        border-radius: 0 7px 7px  0;
      
        cursor: pointer;
    }


}





/* -----------NUEVO FOOTER QUERIES---------------------- */

@media(min-width: 320px){
.footer-container2{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color:#3D3D3D;
    height:120px;
}

.logo-footer{
    text-align: center;
    width: 100%;

}

.logo-footer img{

    width: 30%;
    
}
.footer-icons2{

    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    width: 100%;
    color: white;
    margin: auto;
    position:relative;
    bottom:5px;
}
.footer-icons2 li{
    display:inline;
    padding: 10px;
}

.copyright2{

    color: white;
    margin: auto;
    font-weight: 300;
    font-size: .7rem;
}



}

@media(min-width: 520px){
.footer-container2{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color:#3D3D3D;
    height:120px;
    position: relative;
    bottom:0px;
}

.logo-footer{
    text-align: center;
    width: 100%;

}

.logo-footer img{

    width: 20%;
    
}
.footer-icons2{

    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    width: 100%;
    color: white;
    margin: auto;
    position:relative;
    bottom:5px;
}
.footer-icons2 li{
    display:inline;
    padding: 10px;
}

.copyright2{

    color: white;
    margin: auto;
    font-weight: 300;
    font-size: .7rem;
}



}

@media(min-width: 1280px){

.footer-container2{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    width: 100%;
    background-color:#3D3D3D;
    height:230px;
   
 
}

.logo-footer{
    text-align: center;
    width: 100%;

}

.logo-footer img{

    width: 10%;
    
}

.footer-icons2{

    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    width: 100%;
    color: white;
    margin: auto;
    position:relative;
    bottom:20px;
}
.footer-icons2 li{
    display:inline;
    padding: 10px;
}

.copyright2{

    color: white;
    margin: auto;
    font-weight: 300;
    font-size: 1.1rem;
}


}

/* ---------------------------------------------------------------------------------- */
/* --------------------- TERMINAN NUEVOS QUERIES------------------------------- */
/* ---------------------------------------------------------------------------------- */
   /* -----------------Main 2--------- */
   @media(min-width: 320px){

    body{
        background-color: white;
    }
    .form-container {

        display:flex;
        direction:column;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
        margin: auto;
        background-color: rgb(255, 255, 255);
        width: 95%;
        padding:20px;
        height: 710px;
        margin-top: 150px;
        margin-bottom: 20px;
        overflow: hidden;
    }
    .close-x{
        display:flex;
        align-items: center;
        justify-content: right;
        width: 100%;
        /* background-color:yellow; */
        height:40px;
        color: #3D3D3D;  
        font-size: 1.5rem;  
       
    }
    
    .tittle{
    
        width: 100%;
        /* background-color:green; */
        height:80px;
        color: #3D3D3D;
        font-weight: 400;
       
    }
    
    .register-navbar{
        
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height:200px;
        /* background-color:pink; */
        align-items:space-around;
        align-self: flex-start;
        margin-bottom: 20px;
      
    
    }
    .register-navbar h2{
    
        display: flex;
        align-self: flex-start;
        color: #3D3D3D;
        font-weight: 400;
        font-size: 1.8rem;
        margin-bottom:-50px;
    }
    
    .sessions-container-icons{
    
        display: flex;
       
        width: 100%;
        height:80px;
        /* background-color:rgb(111, 156, 224); */
        justify-content: space-around;
        align-items: center;
        margin: auto;
       
       
      
       
    }
    .sessions-container-icons li{
        display:inline-block;
        text-align: center;
        display: flex;
        align-items:center;
        display: flex;
        justify-content: center;
        align-items: center;
     
        width: 90px;
        height:60px;
        background-color:rgb(255, 255, 255);
        /* overflow: hidden; */
        border-radius: 7px;
        box-shadow: 3px 7px 7px #3d3d3d44;
        transition: all 0.3s
       
    }
    
    .sessions-container-icons li:hover{
      
        box-shadow: 0px 0px 0px #3d3d3d44;
    }
    
    
    .sessions-container-icons img{
        width: 25%;
        margin:  auto;
    }
    
    .already-account{
        
        display: flex;
        width: 100%;
        align-items:center;
        justify-content: right;
        color: #3D3D3D;
        font-size: 1.1rem;
        text-decoration: underline #3D3D3D 4px ;
       
    
    }
    .already-account-text:hover{
        font-weight: 900;
    }
    .already-account-text{
    
        font-weight: 400;
        color: #3D3D3D;
    }
    
    
    .form-container-bottom{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
       
        /* background-color:rgb(202, 27, 56); */
        align-items:left;
        justify-content: space-between;
       
    
    }
     
    .form-container-input{
        
        width: 100%;
        height: 60px;
        border: none;
        font-size: 1.2rem;
        background-color:#F8F8F8;
        border-radius:5px;
        color: #3D3D3D;
        padding-left: 10px;
        cursor:pointer;
        margin-bottom: 20px;
        }
     
    
    .login{
    
        display:flex;
        flex-direction:column;
        flex-wrap: wrap;
        width: 100%;
        align-items: stretch;
       
    }
        .sign-in{
            display: flex;
            justify-content: right;
           
            text-align: right;
            color: #3D3D3D;
            width: 100%;
            font-size:1.2rem;
            font-weight: 400;
            text-decoration: underline #3D3D3D 2px ;
            margin-bottom:20px;
        }
        .sign-in:hover{
        
         font-weight: 900;
        }
    
        .submit-btn{
    
            width: 100%;
            background-color:#3D3D3D;
            border-radius:5px;
            height: 60px;
            border: none;
            font-size: 1.3rem;
            color:  #F8F8F8;
            cursor:pointer;
            align-self: right;
            
        }
        
    

}

@media(min-width: 520px){
    body {

        background-color:#eeeeee;
    }
    .form-container {

        display:flex;
        direction:column;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
        margin: auto;
        background-color: rgb(255, 255, 255);
        width: 75%;
        padding:10px;
        height: 670px;
        margin-top: 200px;
        margin-bottom: 20px;
        overflow: hidden;
    }
    .close-x{
        display:flex;
        align-items: center;
        justify-content: right;
        width: 100%;
        /* background-color:yellow; */
        height:40px;
        color: #3D3D3D;  
        font-size: 1.5rem;  
       
    }
    
    .tittle{
    
        width: 100%;
        /* background-color:green; */
        height:80px;
        color: #3D3D3D;
        font-weight: 400;
       
    }
    
    .register-navbar{
        
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height:200px;
        /* background-color:pink; */
        align-items:space-around;
        align-self: flex-start;
        margin-bottom: 20px;
      
    
    }
    .register-navbar h2{
    
        display: flex;
        align-self: flex-start;
        color: #3D3D3D;
        font-weight: 400;
        font-size: 1.8rem;
        margin-bottom:-50px;
    }
    
    .sessions-container-icons{
    
        display: flex;
       
        width: 90%;
        height:80px;
        /* background-color:rgb(111, 156, 224); */
        justify-content: space-around;
        align-items: center;
        margin: auto;
       
       
      
       
    }
    .sessions-container-icons li{
        display:inline-block;
        text-align: center;
        display: flex;
        align-items:center;
        display: flex;
        justify-content: center;
        align-items: center;
     
        width: 110px;
        height:60px;
        background-color:rgb(255, 255, 255);
        /* overflow: hidden; */
        border-radius: 7px;
        box-shadow: 3px 7px 7px #3d3d3d44;
        transition: all 0.3s
       
    }
    
    .sessions-container-icons li:hover{
      
        box-shadow: 0px 0px 0px #3d3d3d44;
    }
    
    
    .sessions-container-icons img{
        width: 25%;
        margin:  auto;
    }
    
    .already-account{
        
        display: flex;
        width: 100%;
        align-items:center;
        justify-content: right;
        color: #3D3D3D;
        font-size: 1.1rem;
        text-decoration: underline #3D3D3D 4px ;
       
    
    }
    .already-account-text:hover{
        font-weight: 900;
    }
    .already-account-text{
    
        font-weight: 400;
        color: #3D3D3D;
    }
    
    
    .form-container-bottom{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
       
        /* background-color:rgb(202, 27, 56); */
        align-items:left;
        justify-content: space-between;
       
    
    }
     
    .form-container-input{
        
        width: 100%;
        height: 60px;
        border: none;
        font-size: 1.2rem;
        background-color:#F8F8F8;
        border-radius:5px;
        color: #3D3D3D;
        padding-left: 10px;
        cursor:pointer;
        margin-bottom: 20px;
        }
      
    .login{
    
        display:flex;
        flex-direction:row;
        flex-wrap: nowrap;
        width: 100%;
        align-items: center;
        justify-content:space-between;
    }
        .sign-in{
            display: flex;
            color: #3D3D3D;
            font-size:1.2rem;
            font-weight: 400;
            text-decoration: underline #3D3D3D 4px ;
        }
        .sign-in:hover{
        
         font-weight: 900;
        }
    
        .submit-btn{
    
            width: 40%;
            background-color:#3D3D3D;
            border-radius:5px;
            height: 60px;
            border: none;
            font-size: 1.3rem;
            color:  #F8F8F8;
            cursor:pointer;
            align-self: right;
            
        }
        
    

}

@media(min-width: 720px){
    body {

        background-color:#eeeeee;
    }
    .form-container {

        display:flex;
        direction:column;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
        margin: auto;
        background-color: rgb(255, 255, 255);
        width: 80%;
        padding:40px;
        height: 750px;
        margin-top: 200px;
        margin-bottom: 20px;
        overflow: hidden;
    }
    .close-x{
        display:flex;
        align-items: center;
        justify-content: right;
        width: 100%;
        /* background-color:yellow; */
        height:40px;
        color: #3D3D3D;  
        font-size: 1.5rem;  
       
    }
    
    .tittle{
    
        width: 100%;
        /* background-color:green; */
        height:80px;
        color: #3D3D3D;
        font-weight: 400;
       
    }
    
    .register-navbar{
        
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height:200px;
        /* background-color:pink; */
        align-items:space-around;
        align-self: flex-start;
        margin-bottom: 20px;
      
    
    }
    .register-navbar h2{
    
        display: flex;
        align-self: flex-start;
        color: #3D3D3D;
        font-weight: 400;
        font-size: 1.8rem;
        margin-bottom:-50px;
    }
    
    .sessions-container-icons{
    
        display: flex;
       
        width: 90%;
        height:80px;
        /* background-color:rgb(111, 156, 224); */
        justify-content: space-around;
        align-items: center;
        margin: auto;
       
       
      
       
    }
    .sessions-container-icons li{
        display:inline-block;
        text-align: center;
        display: flex;
        align-items:center;
        display: flex;
        justify-content: center;
        align-items: center;
     
        width: 140px;
        height:70px;
        background-color:rgb(255, 255, 255);
        /* overflow: hidden; */
        border-radius: 7px;
        box-shadow: 3px 7px 7px #3d3d3d44;
        transition: all 0.3s
       
    }
    
    .sessions-container-icons li:hover{
      
        box-shadow: 0px 0px 0px #3d3d3d44;
    }
    
    
    .sessions-container-icons img{
        width: 25%;
        margin:  auto;
    }
    
    .already-account{
        
        display: flex;
        width: 100%;
        align-items:center;
        justify-content: right;
        color: #3D3D3D;
        font-size: 1.1rem;
        text-decoration: underline #3D3D3D 4px ;
       
    
    }
    .already-account-text:hover{
        font-weight: 900;
    }
    .already-account-text{
    
        font-weight: 400;
        color: #3D3D3D;
    }
    
    
    .form-container-bottom{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
       
        /* background-color:rgb(202, 27, 56); */
        align-items:left;
        justify-content: space-between;
       
    
    }
     
    .form-container-input{
        
        width: 100%;
        height: 75px;
        border: none;
        font-size: 1.2rem;
        background-color:#F8F8F8;
        border-radius:5px;
        color: #3D3D3D;
        padding-left: 10px;
        cursor:pointer;
        margin-bottom: 20px;
        }
    
    
    .login{
    
        display:flex;
        flex-direction:row;
        flex-wrap: nowrap;
        width: 100%;
        align-items: center;
        justify-content:space-between;
    }
        .sign-in{
            display: flex;
            color: #3D3D3D;
            font-size:1.4rem;
            font-weight: 400;
            text-decoration: underline #3D3D3D 4px ;
        }
        .sign-in:hover{
        
         font-weight: 900;
        }
    
        .submit-btn{
    
            width: 40%;
            background-color:#3D3D3D;
            border-radius:5px;
            height: 75px;
            border: none;
            font-size: 1.3rem;
            color:  #F8F8F8;
            cursor:pointer;
            align-self: right;
            
        }
        
    

}

@media(min-width: 920px){
    body {

        background-color:#eeeeee;
    }
    .form-container {

        display:flex;
        direction:column;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
        margin: auto;
        background-color: rgb(255, 255, 255);
        width: 60%;
        padding:20px;
        height: 750px;
        margin-top: 200px;
        margin-bottom: 20px;
        overflow: hidden;
    }
    .close-x{
        display:flex;
        align-items: center;
        justify-content: right;
        width: 100%;
        /* background-color:yellow; */
        height:40px;
        color: #3D3D3D;  
        font-size: 1.5rem;  
       
    }
    
    .tittle{
    
        width: 100%;
        /* background-color:green; */
        height:80px;
        color: #3D3D3D;
        font-weight: 400;
       
    }
    
    .register-navbar{
        
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height:200px;
        /* background-color:pink; */
        align-items:space-around;
        align-self: flex-start;
        margin-bottom: 20px;
      
    
    }
    .register-navbar h2{
    
        display: flex;
        align-self: flex-start;
        color: #3D3D3D;
        font-weight: 400;
        font-size: 1.8rem;
        margin-bottom:-50px;
    }
    
    .sessions-container-icons{
    
        display: flex;
       
        width: 90%;
        height:80px;
        /* background-color:rgb(111, 156, 224); */
        justify-content: space-around;
        align-items: center;
        margin: auto;
       
       
      
       
    }
    .sessions-container-icons li{
        display:inline-block;
        text-align: center;
        display: flex;
        align-items:center;
        display: flex;
        justify-content: center;
        align-items: center;
     
        width: 140px;
        height:70px;
        background-color:rgb(255, 255, 255);
        /* overflow: hidden; */
        border-radius: 7px;
        box-shadow: 3px 7px 7px #3d3d3d44;
        transition: all 0.3s
       
    }
    
    .sessions-container-icons li:hover{
      
        box-shadow: 0px 0px 0px #3d3d3d44;
    }
    
    
    .sessions-container-icons img{
        width: 25%;
        margin:  auto;
    }
    
    .already-account{
        
        display: flex;
        width: 100%;
        align-items:center;
        justify-content: right;
        color: #3D3D3D;
        font-size: 1.1rem;
        text-decoration: underline #3D3D3D 4px ;
       
    
    }
    .already-account-text:hover{
        font-weight: 900;
    }
    .already-account-text{
    
        font-weight: 400;
        color: #3D3D3D;
    }
    
    
    .form-container-bottom{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
       
        /* background-color:rgb(202, 27, 56); */
        align-items:left;
        justify-content: space-between;
       
    
    }
     
    .form-container-input{
        
        width: 100%;
        height: 75px;
        border: none;
        font-size: 1.2rem;
        background-color:#F8F8F8;
        border-radius:5px;
        color: #3D3D3D;
        padding-left: 10px;
        cursor:pointer;
        margin-bottom: 20px;
        }

    
    .login{
    
        display:flex;
        flex-direction:row;
        flex-wrap: nowrap;
        width: 100%;
        align-items: center;
        justify-content:space-between;
    }
        .sign-in{
            display: flex;
            color: #3D3D3D;
            font-size:1.4rem;
            font-weight: 400;
            text-decoration: underline #3D3D3D 4px ;
        }
        .sign-in:hover{
        
         font-weight: 900;
        }
    
        .submit-btn{
    
            width: 40%;
            background-color:#3D3D3D;
            border-radius:5px;
            height: 75px;
            border: none;
            font-size: 1.3rem;
            color:  #F8F8F8;
            cursor:pointer;
            align-self: right;
            
        }
        
    

}

@media(min-width: 1200px){
    body {

        background-color:#eeeeee;
    }
    .form-container {

        display:flex;
        direction:column;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
        margin: auto;
        background-color: rgb(255, 255, 255);
        width: 40%;
        padding:40px;
        height: 750px;
        margin-top: 200px;
        margin-bottom: 20px;
        overflow: hidden;
    }
    .close-x{
        display:flex;
        align-items: center;
        justify-content: right;
        width: 100%;
        /* background-color:yellow; */
        height:40px;
        color: #3D3D3D;  
        font-size: 1.3rem; 
       
       
    }
    
    .tittle{
    
        width: 100%;
        /* background-color:green; */
        height:80px;
        color: #3D3D3D;
        font-weight: 400;
       
    }
    
    .register-navbar{
        
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height:200px;
        /* background-color:pink; */
        align-items:space-around;
        align-self: flex-start;
        margin-bottom: 20px;
      
    
    }
    .register-navbar h2{
    
        display: flex;
        align-self: flex-start;
        color: #3D3D3D;
        font-weight: 400;
        font-size: 1.8rem;
        margin-bottom:-50px;
    }
    
    .sessions-container-icons{
    
        display: flex;
       
        width: 90%;
        height:80px;
        /* background-color:rgb(111, 156, 224); */
        justify-content: space-around;
        align-items: center;
        margin: auto;
       
       
      
       
    }
    .sessions-container-icons li{
        display:inline-block;
        text-align: center;
        display: flex;
        align-items:center;
        display: flex;
        justify-content: center;
        align-items: center;
     
        width: 140px;
        height:70px;
        background-color:rgb(255, 255, 255);
        /* overflow: hidden; */
        border-radius: 7px;
        box-shadow: 3px 7px 7px #3d3d3d44;
        transition: all 0.3s
       
    }
    
    .sessions-container-icons li:hover{
      
        box-shadow: 0px 0px 0px #3d3d3d44;
    }
    
    
    .sessions-container-icons img{
        width: 25%;
        margin:  auto;
    }
    
    .already-account{
        
        display: flex;
        width: 100%;
        align-items:center;
        justify-content: right;
        color: rgb(21, 148, 221);
        font-size: 1.1rem;
        text-decoration: underline 2px ;
       
    
    }
    .already-account-text:hover{
        font-weight: 500;
    }
    .already-account-text{
    
        font-weight: 400;
        color: rgb(21, 148, 221);
        text-decoration: underline 2px ;
    }
    
    
    .form-container-bottom{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
       
        /* background-color:rgb(202, 27, 56); */
        align-items:left;
        justify-content: space-between;
       
    
    }
     
    .form-container-input{
        
        width: 100%;
        height: 75px;
        border: none;
        font-size: 1.2rem;
        background-color:#F8F8F8;
        border-radius:5px;
        color: #3D3D3D;
        padding-left: 10px;
        cursor:pointer;
        margin-bottom: 20px;
        }
   
    
    .login{
    
        display:flex;
        width: 100%;
        align-items: center;
        justify-content:space-between;
    }
        .sign-in{
            display: flex;
            color: rgb(21, 148, 221);
            font-size:1.2rem;
            font-weight: 400;
            text-decoration: underline rgb(21, 148, 221) 2px ;
        }
        .sign-in:hover{
        
         font-weight: 900;
        }
    
        .submit-btn{
    
            width: 40%;
            background-color:#3D3D3D;
            border-radius:5px;
            height: 75px;
            border: none;
            font-size: 1.3rem;
            color:  #F8F8F8;
            cursor:pointer;
            align-self: right;
            
        }
        
    

}

/*Main*/
/*     
    .estructura {
        padding-top: 50px;
        padding-bottom: 40px;
        margin: 40px;
        font-family: "open sans", sans-serif;
    }
    
    .box-login {
        display: flex;
        flex-wrap: wrap;
        background-color: #f2f0d5;
        color: #686868;
        padding: 10px;
        width: 100%;
        align-items: center;
        box-shadow: 0px 0px 5px rgb(100, 100, 100);
    }
    
    .size {
        width: 100%;
    }
    
    .box-buttons {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    
    .container-button {
        width: 30%;
        background-color: #b6dbcb;
        justify-content: space-between;
        padding: 5px;
        text-align: center;
        box-shadow: 0px 0px 5px rgb(100, 100, 100);
        border-radius: 5px;
    }
    
    .button {
        color: #666;
        font-size: 9px;
        font-weight: bold;
        text-decoration: none;
    }
    
    .button:hover,
    .container-button:hover,
    .button-sesion:hover {
        background-color: #f2f0d5;
        transition: 450ms;
    }
    
    .usuario {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }
    
    .container-inputs {
        width: 100%;
    }
    
    .inputs-color {
        background-color: white;
        border: white;
        width: 100%;
        height: 30px;
        color: #666;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    
    .container-password {
        width: 60%;
        font-size: 10px;
        font-weight: bold;
        text-decoration-line: underline;
    }
    
    .button-sesion {
        width: 30%;
        font-size: 8px;
        border-radius: 5px;
        padding: 5px;
        background-color: #b6dbcb;
        color: #666;
        font-weight: bold;
        position: relative;
        left: 25px;
    }
    
    .position-x {
        position: relative;
        left: 90%;
    }
    
    .x {
        text-decoration: none;
        color: #666;
        border-radius: 9px;
    }
    
    .x:hover {
        background-color: #b6dbcb;
    }
   
    
    @media (min-width: 481px) {
        .box-login {
            width: 60%;
            margin: auto;
        }
        .inputs-color {
            width: 100%;
        }
        .button-sesion {
            min-height: 30px;
            font-size: 8px;
        }
        .estructura {
            padding-top: 100px;
            margin-top: 100px;
        }
    }
    
    @media (min-width: 769px) {
        .box-login {
            width: 40%;
            margin: auto;
        }
        .estructura {
            padding-top: 150px;
            
        }
        .button-sesion {
            width: 40%;
            font-size: 12px;
        }
        .burger-menu {
            display: none;
        }
        .logo {
            justify-content: center;
            width: 250px;
            margin-bottom: 15px;
        }
        .top-container {
            flex-direction: column;
            padding: 2% 5%;
            margin: auto;
            height: 15%;
        }
        .logo-nav {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: center;
            width: 100%;
        }
        .header-icons {
            width: 15%;
            align-self: flex-end;
            position: absolute;
            top: 45%
        }
        .navbar {
            display: flex;
            font-family: 'Open Sans', sans-serif;
            width: 100%;
            color: #686868;
            margin: auto;
            justify-content: space-between;
            align-items: center;
        }
        .navbar {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0;
            padding: 0;
            width: 100%;
        }
        .main-navbar {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        .navbar .main-menu {
            margin: 0 10px;
            font-weight: 700;
        }
        .main-menu:hover {
            background-color: #686868;
            color: white;
            transition: all 450ms;
            text-align: center;
            border-radius: 5px;
            padding: 5px;
        }
        .button-sesion {
            left: -5px;
        }
        .middle-bottom {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 50px;
            margin: auto;
            max-width: 1280px;
        }
        .lista-compras,
        .lista-empresa,
        h3 {
            text-align: left;
            display: flex;
            flex-wrap: wrap;
        }
        .der {
            padding-left: 25px;
        }
    }
    
    @media (min-width: 1280px) {

        .estructura{
            margin-top: 100px;
        }
        .box-login {
            width: 30%;
            margin: auto;
            max-width: 1300px;
        }
        .position-x {
            left: 95%;
        }
        .button-sesion {
            width: 30%;
        }
        .button-sesion {
            left: 40px;
        }
    } */