@import url("/css/normalize.css");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@100;300;400;500&family=Roboto:wght@100&display=swap');

*{
    box-sizing: border-box;
}

.header-container {
    height: 100px;
}

.main-navbar li {
    list-style: none;
}

.fa-shopping-cart{
    color: #666;
}
.fa-user{
    color: #666;
}

.top-container {
    background-color: #f2f0d5;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    max-width: 1200px;
    height: 100px;
}

.bottom-container {
    margin-top: 80px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    width: 150px;
    padding-left: 10px;
}

.header-icons {
    font-size: 20px;
    color: #686868;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}


.search-logo, .user-logo, .cart-logo {
    padding-left: 3px;
    text-align: center;
}

.search-logo:hover, .user-logo:hover, .cart-logo:hover {
    background-color: #686868;
    color: white;
    font-size: 25px;
    padding-left: 3px;
    transition: all 450ms;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

.left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.burger-menu i {
    color: #686868;
    font-size: 30px;
}

.slider .img3 {
    width: 100%;
    position: relative;
}

.next-prev {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 24%;
    z-index: 5;
    font-size: 30px;
    width: 100%;
    opacity: 0.5;
    padding: 0 5%;
}

.navbar {
    display: none;
}

body{
    font-family: "roboto";
    color: #666;
    max-width: 1200px;
    margin: auto;
}
main{
    font-family:'Open Sans', sans-serif;
    margin-left: 15px;
    margin-right: 15px;
}

.data-contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.data-contact1{
    font-weight: 650;
    margin-right: 15px;
}
.recibir-ofertas{
    margin-top: 15px;
}
.inputs{
    background-color: white;
    border: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 280px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.save-info{
    margin-top: 20px;
}
.productos{
    margin-top: 40px;
}
.product-price{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(184, 184, 184);
    margin-top: 40px;
}
.product{
    align-self: center;
}
.price{
    font-size: 18px;
}
.discount-input{
    display: flex;
    justify-content: center;
}
.color{
    color: blue;
    text-decoration: underline;
}
.colors{
    color: rgba(90, 75, 10, 0.534);
    text-decoration: underline;
}
.img-cart{
    width: 150px;
    height: 200px;
}
.img-cart-container{
    display: flex;
    justify-content: center;
}
.talle{
    text-decoration: underline;
}
.color-quitar{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(184, 184, 184);
    margin-bottom: 40px;
}
.button-quitar{
    display: flex;
    border: 0px;
    color: #666;
    font-weight: 650;
    font-size: 13px;
    align-self: center;
}
#codigoDescuento{
    border: none;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(100 100 100);
    border-radius: 4px;
}
.discount{
    margin-bottom:25px;

}
.button-discount{
    background-color: #b6dbcb;
    color: white;
    border-radius: 3px;
    font-size: 15px;
    transition: 450ms;
    margin-left: 15px;
    border: 0px;
    color: #666;
    font-weight: 400;
}
.button-discount:hover{
    background-color: #f2f0d5;
}

.subtotal-price{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(184, 184, 184);
}
.envio-price{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(184, 184, 184);
}
.total-price{
    display: flex;
    justify-content: space-around;
}
.button-buy{
    background-color: #b6dbcb;
    color: #666;
    border: 0px;
    border-radius: 3px;
    font-size: 15px;
    margin-bottom: 100px;
    margin-top: 20px;
    padding: 10px 50px 10px 50px;
    transition: 450ms;
    font-weight: 600;
}
.button-buy:hover{
    background-color: #f2f0d5;
}

.buy{
    width: 171px;
    margin: auto;
}
.cart{
    width: 80%;
    margin: auto;
}
.footer-container {
    padding: 5%;
    background-color: #b6dbcb;
    font-family:'Open Sans', sans-serif;
    color: #686868;
}
.footer-icons {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    justify-content: space-between;
}
.footer-icons i:hover {
    color: #f2f0d5;
}
.footer-icons i {
    transition: color 450ms;
}
.top-footer {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;   
    color: #686868; 
}
.logo-footer {
    padding: 0;
    margin: 10px;
}
.empresa, .compras {
    text-align: center;
    margin-top: 20px;
}
h3 {
    margin: 19px 0 10px 0;
}
.empresa il, .compras il {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 1.9;
    margin: 0;
    padding-left: 0;
}
.lista-empresa, .lista-compras {
    margin: 0;
    padding: 0;
}

.copyright {
    font-size: 10px;
    margin-top: 25px;
}


@media (min-width: 481px) {
    .product-article {
        width: 40%;
    }
}


@media (min-width: 769px) {

    .burger-menu {
        display: none;
    }

    .logo {
        justify-content: center;
        width: 250px;
        margin-bottom: 15px;
    }

    .top-container {
        flex-direction: column;
        padding: 2% 5%;
        margin: auto;
        height: 15%;
    }

    .logo-nav {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        width: 100%;
    }

    .header-icons {
        width: 15%;
        align-self: flex-end;
        position: absolute;
        top: 45%    
    }

    .navbar {
        display: flex;
        font-family:'Open Sans', sans-serif;
        width: 100%;
        color: #686868;
        margin: auto;
        justify-content: space-between;
        align-items: center;
    }

    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .main-navbar {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .navbar .main-menu {
        margin: 0 10px;
        font-weight: 700;
    }

    .main-menu:hover {
        background-color: #686868;
        color: white;
        transition: all 450ms;
        text-align: center;
        border-radius: 5px;
        padding: 5px;
    }
    .middle-bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content:space-around;
        margin-top: 50px;
        margin: auto;
        max-width: 1280px;
    }
    main{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }   
    .lefts{
        width: 40%;
        
    }
    .right{
        width: 35%;
    }
    .inputs{
        width: 90%;
    }
    .cart{
        width: 80%;
        margin-right: 0px;
    }
    .discount{
        width: 260px;
        margin-left: 15%;
    }
    .subtotal-price{
        margin-top: 30px;
    }
    .button-buy{
        padding-left: 100px;
        padding-right: 100px;
    }
    .buy{
        width: 270px;
    }
    .button-quitar{
        display: flex;
        align-self: center;
    }
    .data-contact{
        margin-top:20px ;
    }

    body {
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }
    .lista-compras, .lista-empresa, h3 {
        text-align: left;
        display: flex;
        flex-wrap: wrap;
    }

    .der {
        padding-left: 25px;
    }

}

@media (min-width: 1280px) {

    .header-container {
        background-color: #f2f0d5;
    }
    .data-contact{
        margin-top:70px ;
    }
}

