@import url("/css/normalize.css");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@100;300;400;500&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

/* -----------NUEVO HEADER-------- */

body{

    font-family:roboto,sans-serif;

}
.container-header{

width : 100%;
display: flex;
flex-wrap: wrap;
justify-content:center;
align-items: center;
position: relative;
position: fixed;
z-index: 3;
background-color : rgb(61, 61, 61);
height: 180px;
margin:  auto;
box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.253);
 
}

.main-navbar{
display: flex;
flex-wrap: nowrap;
justify-content: space-between;
margin: auto;
color: rgb(230, 230, 230);


}
.main-navbar li{
display: inline;

padding:.9rem;
margin: auto;
list-style: none;
color: rgb(230, 230, 230);
font-weight: 300;
font-size: 1.1rem;
transition: all 0.4s;
}
.main-navbar li:hover{
font-weight: 500;

}

.logo-main-navbar{

width: 100%;
display: flex;
justify-content: center;
align-self: flex-end;
text-align: center;

}
.logo-main-navbar img{

width: 60%;
} 



/* -----------NUEVO HEADER-------- */



/* -----------NUEVO PRODUCTS-------- */

.products-container{

display: flex;
flex-wrap: wrap;
justify-content:space-around;
width: 90%;
margin: auto;
}

.product2{

width: 420px;
height:650px;
border-radius:2%;
display: flex;
flex-wrap: wrap;
justify-content:center;
align-items: center;
overflow: hidden;
transition: all 400ms;

}

.product2:hover{
box-shadow: 2px 7px 5px rgba(0, 0, 0, 0.253);
}
/* .product-link{
width: 280px;
height:380px;
display: flex;
overflow: hidden;
} */


.category-container{
width: 100%;
/* height:50px; */
color: #3D3D3D;
background-color:white;
align-self: flex-start;
display: flex;
align-items:center;
padding-left:10px;
font-size: 1rem;
position: relative;
z-index: 1;

}

.img-container{

background-color:yellowgreen;
display: flex;
justify-content:center;

width: 100%;
align-self: flex-start;
height: inherit;


}

.img-container img{

overflow: hidden;
width: 100%;
position: relative;
bottom: 5%;
}

.product-info{

display: flex;
align-items:center;
flex-wrap: wrap;
width: 100%;
background-color:white;
height: 70px;
padding: 0px 20px;
position: relative;
bottom: 25%;
z-index: 2;

}

.product-info-lef-container{

display: flex;
flex-wrap: wrap;
width: 60%;
justify-content:left;
}

.product-info-right-container{

display: flex;
flex-wrap: nowrap;
width: 40%;
justify-content:right;
}
.product-price{

font-size: 1.3rem;
color: #3D3D3D;
font-weight:900;
}
.product-name{
width: 100%;
font-size: 1.3rem;

}

.product-discount{
font-size: 1.3rem;
font-weight: bold;

color: rgb(54, 202, 138)

}



/* -----------NEW FOOTER------------------ */

.footer-container2{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    width: 100%;
    background-color:#3D3D3D;
    height:230px;
}

.logo-footer{
    text-align: center;
    width: 100%;

}

.logo-footer img{

    width: 10%;
    
}
.footer-icons2{

    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: center;
    width: 100%;
    color: white;
    margin: auto;
    position:relative;
    bottom:20px;
}
.footer-icons2 li{
    display:inline;
    padding: 10px;
}

.copyright2{

    color: white;
    margin: auto;
    font-weight: 300;
}



/* -----------NUEVO HEADER QUERIES-------- */

@media (min-width: 320px){

    .container-header{

        height: 150px;
     
    }

    .main-navbar{

        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
       
       
        /* text-align: center; */
        
    }
    .logo-main-navbar img{

        width: 40%;
    } 
    .main-navbar ul{
        
        text-align: center;
     
    }

    .main-navbar li{

        /* display: inline; */
        padding:.25rem;
      
        list-style: none;
        color: rgb(230, 230, 230);
        font-weight: 300;
        font-size: 0.75rem;
        
    }

}

/* -------------------1280--------------------- */
@media (min-width: 1280px){

    .container-header{

        width : 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        position: relative;
        position: fixed;
        z-index: 3;
        background-color : rgb(61, 61, 61);
        height: 180px;
        margin:  auto;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.253);
        
        
        
        
    }
    
    .main-navbar{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: auto;
        color: rgb(230, 230, 230);
       
    
    }
    .main-navbar li{
        display: inline;
        padding:.9rem;
        margin: auto;
        list-style: none;
        color: rgb(230, 230, 230);
        font-weight: 300;
        font-size: 1.1rem;
        transition: all 0.4s;
    }
    .main-navbar li:hover{
        font-weight: 500;
       
    }
    
    .logo-main-navbar{
    
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: flex-end;
        text-align: center;
    
    }
     .logo-main-navbar img{
    
        width: 70%;
    } 

}


/* ----------- TERMINAN NUEVO HEADER QUERIES-------- */



/* Main */

.style1 {
    text-decoration: none;
    color: #686868;
}

.estructura {
    font-family: 'Open Sans', sans-serif;
    color: #686868;
    background-color: #ffff;
    border-radius: 10px;
    width: 90%;
    padding: 8px;
    padding-top: 100px;
    margin: auto;
}

.position {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.container-create-count {
    display: flex;
    flex-wrap: wrap;
}

.have-count {
    text-align: right;
    width: 100%;
    margin-top: 5px;
}

.use {
    width: 100%;
}

.box-buttons {
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-button {
    width: 29%;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    align-items: center;
    background-color: #b6dbcb;
    box-shadow: 0px 0px 5px rgb(100, 100, 100);
    text-align: center;
}

.button {
    color: #666;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
}

.container-button:hover,
.button:hover {
    background-color: #f2f0d5;
    transition: 450ms;
}

.img {
    display: none;
}

.button-count {
    margin: 20px;
    padding: 15px;
    width: 80%;
    background-color: #b6dbcb;
    color: #666;
    font-weight: bold;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    border-radius: 10px;
    border-color: #b6dbcb;
}

.button-count:hover {
    background-color: #f2f0d5;
    border-color: #f2f0d5;
    color: #666;
    transition: 450ms;
}

.inputs {
    width: 100%;
}

.inputs .color {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(100 100 100);
    border-color: white;
}

.text {
    font-size: 10px;
}

.create {
    text-align: center;
}




@media (min-width: 481px) {
    .container-img {
        width: 50%;
    }
    .img {
        display: block;
        width: 90%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        border-radius: 10px;
    }
    .estructura {
        display: flex;
        flex-wrap: wrap;
        padding-top: 130px;
    }
    .count {
        width: 50%;
    }
    .container-button {
        width: 28%;
    }
    .button {
        font-size: 8px;
    }
    .login {
        font-size: 10px;
    }
}

@media (min-width: 769px) {
    /* header */
    .burger-menu {
        display: none;
    }
    .logo {
        justify-content: center;
        width: 250px;
        margin-bottom: 15px;
    }
    .top-container {
        flex-direction: column;
        padding: 2% 5%;
        margin: auto;
        height: 15%;
    }
    .logo-nav {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        width: 100%;
    }
    .header-icons {
        width: 15%;
        align-self: flex-end;
        position: absolute;
        top: 45%
    }
    .navbar {
        display: flex;
        font-family: 'Open Sans', sans-serif;
        width: 100%;
        color: #686868;
        margin: auto;
        justify-content: space-between;
        align-items: center;
    }
    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .main-navbar {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .navbar .main-menu {
        margin: 0 10px;
        font-weight: 700;
    }
    .main-menu:hover {
        background-color: #686868;
        color: white;
        transition: all 450ms;
        text-align: center;
        border-radius: 5px;
        padding: 5px;
    }
    .middle-bottom {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 50px;
        margin: auto;
        max-width: 1280px;
    }
    .lista-compras,
    .lista-empresa,
    h3 {
        text-align: left;
        display: flex;
        flex-wrap: wrap;
    }
    .der {
        padding-left: 25px;
    }
    /* Main*/
    .estructura {
        padding-top: 200px;
        padding-bottom: 25px;
    }
    /* body {
        width: 100%;
        max-width: 1200px;
        margin: auto;
    } */
}

@media (min-width: 1280px) {
    .estructura {
        padding-bottom: 40px;
    }
    .button {
        font-size: 12px;
    }
    .header-container {
        background-color: #f2f0d5;
    }
}