<section class="banner-container">


    <div class="caja"> 
        <div class="left-arrow">
            <i class="fas fa-chevron-circle-left"></i>
        </div>    <h1>Conocé el estilo de la temporada de Verano</h1>
        <div class="right-arrow">
            <i class="fas fa-chevron-circle-right"></i>
             </div> 
    </div>

    <!-- <div class="over-img-bar">

    </div>  -->


    <!-- <img src="img/CARROUSEL/img-banner.jpeg" alt="Conjunto de Ropa"> 
 -->


</section>