 <div class="banner-container ">


    <div class="caja-imagen single-item">
            
            
           
                <a href="../products/detail/10">
                    <img src="img/CARROUSEL/banner_03.png" alt="">
                </a>
           
           
        
          
                <a href="../products/detail/2">
                <img src="img/CARROUSEL/banner_01.png" alt="">
            </a>
            


            
          
                <a href="../products/detail/6">
                <img src="img/CARROUSEL/banner_02.png" alt="">
            </a>
            
          
           
    </div>
</div> 