<footer>

    
       <section class="footer-container2">
    
        <div class=" logo-footer">
            <a href="/"><img src="../../img/logo_blanco.svg" alt="logo Hábito"  ></a>
           
       </div>
    
      
        <nav class=" footer-icons2">
    
            <ul>
                <li> <i class="fab fa-twitter"></i></li>
                <li> <i class="fab fa-facebook"></i></li>
                <li> <i class="fab fa-instagram"></i></li>
                <li> <i class="fab fa-youtube"></i></li>
            </ul>
        </nav>
    
        <span class="copyright2">© 2022 Hábito Grupo 2</span>
    
    
       </section>
</footer>