<footer>
   
    <div class="footer-container">
        <div class="top-footer">
            <img src="img/Logo-prueba.png" alt="logo Hábito" class="logo-footer">
            <div class="footer-icons">
                <div class="twitter">
                    <i class="fab fa-twitter"></i>
                </div>
                <div class="facebook">
                    <i class="fab fa-facebook"></i>
                </div>
                <div class="instagram">
                    <i class="fab fa-instagram"></i>
                </div>
                <div class="youtube">
                    <i class="fab fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="middle-bottom">
            <div class="footer-middle">
                <div class="empresa">
                    <h3>Empresa</h3>
                    <ul class="lista-empresa">
                        <div class="izq">
                            <il>Quiénes Somos</il>
                            <il>Locales</il>
                        </div>
                        <div class="der">
                            <il>Trabaja con Nosotros</il>
                            <il>Noticias</il>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="compras">
                    <h3>Compras</h3>
                    <ul class="lista-compras">
                        <div class="izq">
                            <il>Métodos de Pago</il>
                            <il>Devoluciones</il>
                        </div>
                        <div class="der">
                            <il>Preguntas Frecuentes</il>
                            <il>Envíos y Condiciones</il>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <p class="copyright">© 2021 Hábito</p>
    </div>
</footer>