<header>
   <!-- Acá arranca están el logo, el menú de navegación y los íconos-->
    <div class="header-container">
        <div class="top-container">
            <div class="left">
                <div class="main-container">
                    <a href='#' class="burger-menu">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
                <div class="logo-nav">
                    <a href="/"><img src="../../img/Habito_01.svg" alt="logo Hábito" class="logo"></a>
                    <nav class="main-navbar">
                        <ul class="navbar">
                            <a href="/users/register" style="text-decoration: none;">
                                <li class="main-menu">Registrarse</li>
                            </a>
                            <!-- <a href="../products/editProduct" style="text-decoration: none;">
                                <li class="main-menu">Editar producto</li>
                            </a> -->
                            <a href="/products/create" style="text-decoration: none;">
                                <li class="main-menu">Crear Producto</li>
                            </a>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="header-icons">
                <div class="search-logo">
                    <i class="fas fa-search"></i>
                </div>
                <div class="user-logo">
                    <a href="/users/login"><i class="fas fa-user"></i></a>
                </div>
                <div class="cart-logo">
                    <a href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Acá arranca el Carrusel-->

</header>