<header>
   <!-- Acá arranca están el logo, el menú de navegación y los íconos-->
    <div class="header-container">
        <div class="top-container">
            <div class="left">
                <div class="main-container">
                    <a href='#' class="burger-menu">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
                <div class="logo-nav">
                    <img src="../img/Habito_01.svg" alt="logo Hábito" class="logo">
                    <nav class="main-navbar">
                        <ul class="navbar">
                            <li class="main-menu">Categorías</li>
                            <li class="main-menu">Ofertas</li>
                            <li class="main-menu">Contacto</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="header-icons">
                <div class="search-logo">
                    <i class="fas fa-search"></i>
                </div>
                <div class="user-logo">
                    <a href="/login"><i class="fas fa-user"></i></a>
                </div>
                <div class="cart-logo">
                    <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Acá arranca el Carrusel-->

</header>