<header>
    <!-- Acá arranca están el logo, el menú de navegación y los íconos-->
    <div class="header-container">
        <div class="top-container">
            <div class="left">
                <div class="main-container">
                    <a href='#' class="burger-menu">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
                <div class="logo-nav">
                    <img src="img/Habito_01.svg" alt="logo Hábito" class="logo">
                    <nav class="main-navbar">
                        <ul class="navbar">
                            <li class="main-menu">Categorías</li>
                            <li class="main-menu">Ofertas</li>
                            <li class="main-menu">Contacto</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="header-icons">
                <div class="search-logo">
                    <i class="fas fa-search"></i>
                </div>
                <div class="user-logo">
                    <a href="/login"><i class="fas fa-user"></i></a>
                </div>
                <div class="cart-logo">
                    <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Acá arranca el Carrusel-->

    <div class="bottom-container">
        <nav class="slider">
            <img src="img/CARROUSEL/img-carrousel-3.jpg" alt="Conjunto de Ropa" class="img3">
            <div>
                <h1 class="copy-slider">Conocé el estilo de la temporada de verano</h1>
                <div class="slider-botton-container">
                    <h4 class="slider-button">Ver Productos</h4>
                </div>
            </div>
            <div class="next-prev">
                <div class="prev">
                    <i class="fas fa-chevron-circle-left"></i>
                </div>
                <div class="next">
                    <i class="fas fa-chevron-circle-right"></i>
                </div>
            </div>
        </nav>
    </div>
</header>