<header>

    <section class="container-header">

         <div class=" logo-main-navbar">
             <a href="/"><img src="../../img/logo_blanco.svg" alt="logo Hábito"  ></a>
            
        </div>

        <nav class="main-navbar">

            <ul class = "ul-header2">
                <% if (locals.isAnUserLogged === true) { %>
                    
                    <a href="/">
                        <li>Inicio</li>
                    </a>
                    <a href="/products/cart">
                        <li>Carrito (0)</li>
                    </a>
                    <a href="/products/create">
                        <li>Crear Productos</li>
                    </a>
<!-- -------------------NOMBRE DEL PERFIL--------- -->
                    <a href="/users/profile">
                        <li><%=locals.user.name%> </li>
                    </a>

                    <!-- <a class="name-img" href="/users/profile">
                        <li>  </li>
                        <img class = "profile-pic" src="../../uploads/users/ locals.userData.imagen " width="40px">
                  </a> -->
                    
                <% } else {%>

                    <a href="/">
                        <li>Inicio</li>
                    </a>

                    <a href="/users/register2">
                        <li>Registrarse</li>
                    </a>
                    <a href="/users/login">
                        <li>Login</li>
                    </a>
                <% } %>

            </ul>

    </section>
 
 </header>