<header>

    <section class="container-header">

         <div class=" logo-main-navbar">
             <a href="/"><img src="../../img/logo_blanco.svg" alt="logo Hábito"  ></a>
            
        </div>

        <nav class="main-navbar">

            <ul>

                <a href="/users/register">
                    <li>Registrarse</li>
                </a>
                <a href="/users/login">
                    <li>Login</li>
                </a>
                <a href="/products/cart">
                    <li>Carrito (0)</li>
                </a>
                <a href="/products/create">
                    <li>Crear Productos</li>
                </a>

            </ul>

        </nav>
 

 
 </header>