<section class="new-newsletter">


    <h1 class="subscribe-newsletter">Suscribite a nuestro newsletter</h1>

  
        <form class="newsletter-mail" action="">

            
                <input type="text" name="mail" id="">
                <button type="submit">Subscribirse</button>
            
        </form>
  

</section>