<%- include('../partials/head', {
    pageTitle: 'Perfil',
    cssLink: 'href="/css/login.css" '
})%>

    <body>

        <%- include('../partials/header2')%>

            <%- include('../partials/footer2')  %>
    </body>