<%- include('../partials/head', {
    pageTitle: 'Registrarse',
    cssLink: 'href="/css/register.css" '
})%>

    <body class="body-style">
        <%- include('../partials/header')%>
            <main class="estructura">
                <div class="container-img">
                    <img src="../img/img-crearcuenta.jpg" alt="imagen de crear cuenta" class="img" width="200"></div>
                <div class="count">
                    <div class="position">
                        
                        <a class="style1" href="/">Volver</a>
                    </div>
                    <div class="container-create-count">
                        <h3 class="use">Usando:</h3>
                        <div class="box-buttons">

                            <div class="container-button">
                                <a class="button" href="">
                                    <i class="fab fa-instagram"> </i> Instagram
                                </a>
                            </div>

                            <div class="container-button">
                                <a class="button" href="">
                                    <i class="fab fa-facebook"> </i> Facebook
                                </a>
                            </div>

                            <div class="container-button">
                                <a class="button" href="">
                                    <i class="fab fa-google"></i> Google
                                    </i>
                                </a>
                            </div>
                        </div>

                        <p class="have-count">¿Ya tenés cuenta?
                            <a class="login" href="../users/login ">Iniciar sesión</a>
                        </p>
                        <h3>O con tu correo electrónico:</h3>
                        
                        <form class="inputs" action="/users" method="post" enctype="multipart/form-data">
                            <div class="inputs">
                                <input class="inputs color" type="text " name="nombre" placeholder="Nombre: " required>
                            </div>
                            <br>
                            <div class="inputs">
                                <input class="inputs color" type="text " name="apellido" placeholder="Apellido: " required>
                            </div>
                            <br>
                            <div class="inputs">
                                <input class="inputs color" type="email " name="email" placeholder="E-mail: " required>
                            </div>
                            <br>
                            <div class="inputs"><label for="contraseña"></label>
                                <input class="inputs color" type="password " name="contraseña" placeholder="Contraseña: " required>
                            </div>
                            <br>
                            <div class="inputs"><label for="repetircontraseña"></label>
                                <input class="inputs color" type="password " name="repetirContraseña" placeholder="Repetir contraseña: " required>
                            </div>
                            <br>
                            <div class="inputs">
                                <input class="inputs color" type="file" name="imagen">
                            </div>
                    </div>
                    <br>
                    <div>
                        <input type="checkbox" name="recibir-ofertas">
                        <label class="text" for="recibir-ofertas ">Quiero recibir ofertas y novedades en mi correo </label>
                    </div>

                    <div class="create">
                        <button class="button-count" type=" submit ">Crear cuenta</button>
                    </div>
                </form>
                </div>
                

                </div>

            </main>
            <%- include('../partials/footer')  %>
    </body>

    </html>